<!-- Header principal -->
<div class="mb-8">
  <h1 class="text-2xl font-bold text-gray-800 dark:text-slate-200">Gestión de Comisiones</h1>
</div>

<!-- Métricas Cards -->
<commission-indicators></commission-indicators>

<!-- Sección principal de Comisiones -->
<div class="bg-white rounded-lg shadow-sm p-6 dark:bg-slate-800 dark:border-slate-500 dark:shadow-slate-600">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4 mb-6">
    <div>
      <h2 class="text-xl font-semibold text-gray-900 dark:text-slate-300">Detalle de Comisiones</h2>
      <p class="text-gray-500 text-sm dark:text-slate-400">Registro de comisiones por ventas realizadas</p>
    </div>
    <div class="flex flex-col md:flex-row gap-3">
      <button class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50">
        <span class="iconify w-5 h-5 mr-2" data-icon="ph:download-simple"></span>
        Exportar Reporte
      </button>
      <button class="inline-flex items-center px-4 py-2 rounded-md text-sm font-medium text-white bg-green-600 hover:bg-green-700 transition-colors duration-200">
        <span class="text-xl mr-1">+</span>
        Registrar Comisión
      </button>
    </div>
  </div>

  <!-- Barra de búsqueda -->
  <div class="relative mb-6">
    <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      <span class="iconify w-5 h-5 text-gray-400" data-icon="ph:magnifying-glass"></span>
    </span>
    <input
      type="text"
      placeholder="Buscar comisión..."
      class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm dark:bg-slate-800 dark:border-slate-500"
      [formControl]="searchInput"

    >
  </div>

  <!-- Tabla de comisiones -->
  <div class="overflow-x-auto">
    <table class="min-w-full  divide-gray-200 dark:divide-slate-400">
      <thead class="bg-gray-50 dark:bg-slate-700 dark:border-slate-500 dark:shadow-slate-600">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-slate-400">Cliente/Empresa</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-slate-400">Contrato/Lote</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-slate-400">Fecha de cierre</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-slate-400">Monto venta</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-slate-400">% Comisión</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-slate-400">Monto Comisión</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200 dark:divide-slate-600 dark:bg-slate-800 dark:border-slate-500 dark:shadow-slate-600">

        @for ( commission of commissions(); track commission.id ) {
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900 dark:text-slate-300">
                {{ commission.contract.client.fullname }}
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900 dark:text-slate-300">
                Lote

                @for ( lote of commission.contract.lotes; track lote.id) {
                  {{ lote.code }}
                }
              </div>
              <div class="text-sm text-gray-500 dark:text-slate-400">
                {{ commission.contract.proyect.name }}
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-slate-300">
              {{ commission.contract.createAt | moment:'createAt' }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900 dark:text-slate-300">
                S/ {{ commission.contract.loteAmount | number:'.2-2' }}
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900 dark:text-slate-300">
                {{ commission.percent }}%
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm font-medium text-green-600 dark:text-slate-300">
                S/ {{ commission.amount | number:'.2-2' }}
              </div>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="6" class="">
              <div class="flex justify-center p-3 text-2xl dark:text-slate-400 italic border-b border-gray-400">
                Sin registros
              </div>
            </td>
          </tr>
        }

      </tbody>
    </table>
  </div>
  <div class="" >

    <!-- (onChangePage)="" -->
    <app-pagination [totalItems]="commissionsTotal()" [itemsPerPage]="5" (onChangePage)="onGetComissions( $event )"  >

    </app-pagination>

  </div>
</div>
