<div class="p-4 ">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">

    <div class="grid grid-cols-2 gap-4 mb-4">

        <div class="flex items-center justify-center  rounded bg-gray-50 dark:bg-gray-800">

          <img src="assets/img/programing.png" alt="">

        </div>

        <div class="flex items-center justify-center rounded bg-gray-50 dark:bg-gray-800">

          <router-outlet></router-outlet>

        </div>

     </div>

  </div>
</div>


