<div class="py-2 px-8 max-w-full mx-auto">


  <!-- Título -->
  <h1 class="text-2xl font-bold text-gray-800 mb-6 dark:text-slate-200">Perfil de asesor comercial</h1>

  <!-- Header principal -->
  <div class="bg-white rounded-lg shadow mb-6 p-6 flex flex-col md:flex-row md:items-center md:justify-between gap-6 dark:bg-slate-800">
    <div class="flex-1 flex items-start">
      <!-- Foto de perfil -->
      <img
        [src]=" userProfile()?.photo?.urlImg ?? defaultImg "
        alt="Perfil"
        class="w-20 h-20 md:w-24 md:h-24 rounded-full border-4 border-white shadow-md object-cover bg-gray-100 mr-6"
      >
      <div>
        <div class="flex items-center mb-1 flex-wrap ">

          <span *ngIf="isLoading()" role="status" class="max-w-sm animate-pulse">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-3"></div>
            <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-[250px] max-w-[360px] mb-2.5"></div>
          </span>

          <span *ngIf="!isLoading()" class="text-2xl md:text-3xl font-bold text-gray-900 dark:text-slate-200">
            {{ userProfile()?.fullname }}
          </span>

          <!-- Insignias -->
          <span class="ml-2 flex items-center space-x-1">
            <span class="inline-block rounded-full bg-yellow-100 px-2 py-0.5 text-lg">🏅</span>
            <span class="inline-block rounded-full bg-purple-100 px-2 py-0.5 text-lg">🎖️</span>
            <span class="inline-block rounded-full bg-green-100 px-2 py-0.5 text-lg">🌟</span>
          </span>
        </div>
        <div *ngIf="!isLoading()" class="text-gray-500 text-base mb-2 dark:text-slate-400">
          @for (role of userProfile()?.roles; track role.id) {
            {{ role.name }}
          }
        </div>
        <div class="flex flex-wrap gap-2">
          <button
            type="button"
            class="bg-gray-100 hover:bg-gray-200 text-gray-700 px-4 py-1 rounded border text-sm font-medium transition"
          >
            Crear meta
          </button>
          <button
            type="button"
            data-modal-target="seller-payment-layout-modal"
            data-modal-toggle="seller-payment-layout-modal"
            class="bg-gray-100 hover:bg-gray-200 text-gray-700 px-4 py-1 rounded border text-sm font-medium transition"
          >
            Crear pago
          </button>
        </div>
      </div>
    </div>
    <!-- Editar Perfil Botón -->
    <div class="flex md:block items-start">
      <button
        type="button"
        data-modal-target="user-modal"
        data-modal-toggle="user-modal"
        class="mt-2 md:mt-0 bg-white border border-gray-300 hover:bg-gray-50 text-gray-700 px-4 py-2 rounded-md flex items-center text-sm transition font-medium"
        (click)="onLoadEditProfile()"
      >
        <!-- <span class="iconify w-4 h-4 mr-2" data-icon="ph:pencil-simple"></span> -->
        <i class="fa-solid fa-pen-to-square mr-2"></i>
        Editar perfil
      </button>
    </div>
  </div>


  <!-- Tabs principales -->
  <div class="border-b border-gray-200 mb-8">
    <nav class="flex space-x-8" aria-label="Tabs">

      <a
        [routerLink]="[ 'home', userProfileName() ]"
        routerLinkActive="text-emerald-700 border-emerald-700 border-b-2"
        class="text-gray-500 font-semibold pb-3 px-1 text-emerald-700 border-emerald-700 border-b-2"
      >
        Inicio
      </a>

      <a
        [routerLink]="[ 'clients', userProfileName() ]"
        routerLinkActive="text-emerald-700 border-emerald-700 border-b-2"
        class="text-gray-500 hover:text-gray-700 pb-3 px-1"
      >
        Clientes
      </a>

      <a
        [routerLink]="[ 'commissions', userProfileName() ]"
        routerLinkActive="text-emerald-700 border-emerald-700 border-b-2"
        class="text-gray-500 hover:text-gray-700 pb-3 px-1"
        >
        Comisiones
      </a>

      <a
        [routerLink]="[ 'payments', userProfileName() ]"
        routerLinkActive="text-emerald-700 border-emerald-700 border-b-2"
        class="text-gray-500 hover:text-gray-700 pb-3 px-1"
        >
        Pagos
      </a>
    </nav>
  </div>

  <router-outlet></router-outlet>

</div>

<!-- New Payment Modal (Initially Hidden) -->
<div id="seller-payment-layout-modal" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 mt-5 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">

  <div class="relative p-4 w-full max-w-2xl max-h-full">

    <div class="bg-white rounded-lg shadow-xl w-full mx-4 dark:bg-gray-700">
      <div class="p-6">
        <div class="flex justify-between items-start mb-4">
          <div>
            <h2 class="text-xl font-semibold dark:text-slate-200">Registrar Nuevo Pago</h2>
          </div>
          <button
            #btnCloseSellerPaymentModal
            type="button"
            data-modal-toggle="seller-payment-layout-modal"
            class="text-gray-400 hover:text-gray-500"
            (click)="onResetAfterSubmit()"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <form class="space-y-4" [formGroup]="sellerPaymentLayoutForm" (submit)="onSubmit()" >

          <!-- Modal Body -->
          <div class="">
            <div class="grid grid-cols-12 gap-5">

              <!-- Left Column - Form -->
              <div class="col-span-6" >


                <div class="space-y-4">
                  <h3 class="text-lg font-semibold text-gray-800 dark:text-slate-300">
                    Datos del Pago
                  </h3>

                  <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
                    <div>
                      <label for="txtPaidDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Fecha de pago *
                      </label>
                      <div class="relative">
                        <span class="absolute left-3 top-2">
                          <i class="fa-solid fa-calendar"></i>
                        </span>

                        <input
                          #birthDateInput
                          type="text"
                          id="txtPaidDate"
                          mwlFlatpickr
                          locale="Spanish"
                          [altInput]="true"
                          [maxDate]="currentDate"
                          class=" border text-center border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-slate-800 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          placeholder="YYYY-MM-DD"
                          formControlName="paymentDate"
                          [class.border-red-400]=" inputErrors('paymentDate') && isTouched('paymentDate') "
                        >
                      </div>

                      @if (isTouched('paymentDate')) {
                        <span
                          class="flex items-center ms-1 mt-2 text-xs text-red-500"
                          inputErrors
                          [errors]="inputErrors('paymentDate')"
                          inputLabel="fecha de pago" >
                        </span>
                      }
                    </div>

                    <div>
                      <label for="txtAmountPaid" class="block text-sm font-medium text-gray-700 mb-2 dark:text-white">
                        Monto pagado
                      </label>
                      <div class="relative">
                        <span class="absolute left-3 top-2">S/ </span>
                        <input
                          id="txtAmountPaid"
                          type="number"
                          placeholder="0.00"
                          step="0.50"
                          class=" text-right w-full pl-8 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-emerald-500 focus:border-transparent dark:bg-slate-800 "
                          formControlName="amount"
                          [class.border-red-400]=" inputErrors('amount') && isTouched('amount') "
                        >

                        @if (isTouched('amount')) {
                          <span
                            class="flex items-center ms-1 mt-2 text-xs text-red-500"
                            inputErrors
                            [errors]="inputErrors('amount')"
                            inputLabel="monto" >
                          </span>
                        }
                      </div>
                    </div>
                  </div>

                  <div class="grid grid-cols-1 md:grid-cols-1 gap-4">

                    <div>
                      <label for="cbxPaymentType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Tipo de pago *
                      </label>
                      <ng-select
                        id="cbxPaymentType"
                        class="navbar bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        [items]="paymentsMethod()"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="Seleccione Método de pago"
                        formControlName="paymentMethodId"
                        [class.border-red-400]=" inputErrors('paymentMethodId') && isTouched('paymentMethodId') "
                      >
                      </ng-select>

                      @if (isTouched('paymentMethodId')) {
                        <span
                          class="flex items-center ms-1 mt-2 text-xs text-red-500"
                          inputErrors
                          [errors]="inputErrors('paymentMethodId')"
                          inputLabel="Tipo de pago" >
                        </span>
                      }
                    </div>

                    <div>
                      <label class="block text-sm font-medium text-gray-700 mb-2 dark:text-white">
                        ID Transacción
                      </label>
                      <input
                        type="text"
                        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-emerald-500 focus:border-transparent dark:bg-slate-800"
                        placeholder="#"
                        formControlName="operationCode"
                        [class.border-red-400]=" inputErrors('operationCode') && isTouched('operationCode') "
                      >

                      @if (isTouched('operationCode')) {
                        <span
                          class="flex items-center ms-1 mt-2 text-xs text-red-500"
                          inputErrors
                          [errors]="inputErrors('operationCode')"
                          inputLabel="Nro operación" >
                        </span>
                      }
                    </div>
                  </div>

                  <!-- Observations -->
                  <div >
                    <label class="block text-sm font-medium text-gray-700 mb-2 dark:text-white">Observaciones</label>
                    <textarea
                      class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-emerald-500 focus:border-transparent dark:bg-slate-800"
                      rows="9"
                      placeholder="Agregar comentarios adicionales aquí..."
                      formControlName="observation"
                    >
                    </textarea>

                    @if (isTouched('observation')) {
                      <span
                        class="flex items-center ms-1 mt-2 text-xs text-red-500"
                        inputErrors
                        [errors]="inputErrors('observation')"
                        inputLabel="Observación" >
                      </span>
                    }
                  </div>


                </div>
              </div>

              <!-- Right Column - Details -->
              <div class="col-span-6 h-full">
                <div class="bg-gray-50 rounded-lg px-6 py-4 ">
                  <h3 class="text-lg font-medium text-gray-800 mb-2">
                    Detalle de comisiones
                  </h3>


                  <div class="border-b border-gray-200 pb-2.5">

                    <div class="flex justify-between">
                      <span class="text-gray-500">Total Generado:</span>
                      <span class="ml-1">
                        S/ {{ totalCommissions() | number:'.2-2' }}
                      </span>
                    </div>

                    <div class="flex justify-between">
                      <span class="text-gray-500">Total Pagado:</span>
                      <span class="ml-1 font-medium">
                        S/ {{ totalPayments() | number:'.2-2' }}
                      </span>
                    </div>

                  </div>

                  <!-- Total -->
                  <div class="pt-1.5">
                    <div class="flex justify-between items-center text-lg font-medium">
                      <span>Saldo pendiente:</span>
                      <span>
                        S/ {{ totalPending() | number:'.2-2' }}
                      </span>
                    </div>
                  </div>


                </div>

                <!-- File Upload -->
                <div class="mt-4">
                  <label class="block text-sm font-medium text-gray-700 mb-1 dark:text-slate-200">Voucher</label>

                  @if ( !file && !isHavePhotoUpdated ) {

                    <div class=" mt-1 flex justify-center items-center pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-lg">
                      <div class="space-y-1 text-center h-[400px] flex justify-center items-center flex-col ">

                        <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                          <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <div class="text-sm text-gray-600">
                          <label
                            for="file-upload"
                            class="relative cursor-pointer bg-white rounded-md font-medium text-emerald-600 hover:text-emerald-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-emerald-500 dark:bg-slate-700"
                          >
                            <span>Sube un archivo</span>
                            <input id="file-upload" name="file-upload" type="file" class="sr-only" (change)="onChangeFile( $event.target )">
                          </label>
                          <!-- <p class="pl-1">o arrastra y suelta</p> -->
                        </div>
                        <p class="text-xs text-gray-500">PNG, JPG, PDF hasta 10MB</p>
                      </div>
                    </div>
                  } @else {
                    <div class="flex justify-center items-center ">
                      <div class="relative w-60">

                        <img class=" border-2 border-gray-300 border-dashed " [src]="fileUrl()" alt="Rounded avatar">
                        <div class="absolute cursor-pointer inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-1 dark:border-gray-900"
                          (click)="onRemoveFile()"
                        >
                          <i class="fa-solid fa-xmark"></i>
                        </div>
                      </div>
                    </div>
                  }

                </div>


              </div>

            </div>
          </div>


          <div class="flex justify-end gap-3 ">
            <button
              type="button"
              data-modal-toggle="payment-modal"
              class="px-4 py-2 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-50 dark:bg-white"
              (click)="onResetAfterSubmit()"
            >
              Cancelar
            </button>
            <button type="submit" class="px-4 py-2 bg-emerald-600 hover:bg-emerald-700 text-white rounded-md">
              <span *ngIf="!isSaving() else sellerPaymentSpinner" >
                Guardar
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>

<!-- Main modal -->
<div id="user-modal" data-modal-backdrop="true" tabindex="-1" aria-hidden="false" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 mt-5 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-xl max-h-full">

        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white" >
                    Editar perfíl
                </h3>
                <button
                  #btnCloseUserModal
                  type="button"
                  data-modal-toggle="user-modal"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                  (click)="onResetUserForm()"
                >
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form [formGroup]="userForm" (ngSubmit)="onSubmitProfile()" class="py-6 px-8">
              <div class="grid gap-3 mb-2 grid-cols-4">

                <div class="col-span-4 pb-1.5 grid-cols-1 flex justify-center">
                  <label for="countryFile" >
                    <img class="w-20 h-20 rounded-full cursor-pointer" [src]="fileUrl()" alt="Rounded avatar">
                  </label>

                  <input type="file" id="countryFile" class="hidden" (change)="onChangeFile( $event.target )" />
                </div>

                <div class="col-span-2 xs:col-span-4">
                  <label for="cbxIdentityDocument" class="block mb-1.5 text-sm font-medium text-gray-900 dark:text-white">
                    Tipo documento <span class="text-red-500">*</span>
                  </label>
                  <ng-select
                    id="cbxIdentityDocument"
                    class="bg-gray-50 border text-gray-900 text-sm rounded-md block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    [items]="identityDocuments()"
                    (change)="onChangeIdentityDocument( $event )"
                    bindLabel="shortDescription"
                    bindValue="id"
                    placeholder="Seleccione documento de identidad"
                    formControlName="identityDocumentId"
                    [class.border-red-400]=" inputErrors('identityDocumentId') && isTouched('identityDocumentId') "
                  >
                  </ng-select>

                  @if (isTouched('identityDocumentId')) {
                    <span
                      class="flex items-center ms-1 mt-1.5 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('identityDocumentId')"
                      [class.hidden]="!inputErrors('identityDocumentId')"
                      inputLabel="Nombre" >
                    </span>
                  }
                </div>

                <div class="col-span-2 xs:col-span-4">
                  <label for="txtIdentityNumber" class="block mb-1.5 text-sm font-medium text-gray-900 dark:text-white">
                    Nro Documento <span class="text-red-500">*</span>
                  </label>
                  <input
                    type="text"
                    id="txtIdentityNumber"
                    class="bg-gray-50 border text-center border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="########"
                    formControlName="identityNumber"
                    [class.border-red-400]=" inputErrors('identityNumber') && isTouched('identityNumber') "
                  >
                  @if (isTouched('identityNumber')) {
                    <span
                      class="flex items-center ms-1 mt-1.5 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('identityNumber')"
                      [class.hidden]="!inputErrors('identityNumber')"
                      inputLabel="Nro identidad" >
                    </span>
                  }
                </div>

                <div class="col-span-2 xs:col-span-4">
                    <label for="txtRoleName" class="block mb-1.5 text-sm font-medium text-gray-900 dark:text-white">
                      Nombres <span class="text-red-500">*</span>
                    </label>
                    <input
                      type="text"
                      id="txtRoleName"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="Enter Name"
                      formControlName="name"
                      [class.border-red-400]=" inputErrors('name') && isTouched('name') "
                    >

                    @if (isTouched('name')) {
                      <span
                        class="flex items-center ms-1 mt-1.5 text-xs text-red-500"
                        inputErrors
                        [errors]="inputErrors('name')"
                        [class.hidden]="!inputErrors('name')"
                        inputLabel="Nombre" >
                      </span>
                    }
                </div>

                <div class="col-span-2 xs:col-span-4">
                  <label for="txtIsoAlphaThwo" class="block mb-1.5 text-sm font-medium text-gray-900 dark:text-white">
                    Apellidos
                  </label>
                  <input
                    type="text"
                    id="txtIsoAlphaThwo"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Enter Surname"
                    formControlName="surname"
                    [class.border-red-400]=" inputErrors('surname') && isTouched('surname') "
                  >
                  @if (isTouched('surname')) {
                    <span
                      class="flex items-center ms-1 mt-1.5 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('surname')"
                      [class.hidden]="!inputErrors('surname')"
                      inputLabel="Apellido" >
                    </span>
                  }
                </div>

                <div class="col-span-4">
                  <label for="txtMoneyCode" class="block mb-1.5 text-sm font-medium text-gray-900 dark:text-white">
                    Email
                  </label>
                  <input
                    type="text"
                    id="txtMoneyCode"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="example@domain.com"
                    formControlName="email"
                    [class.border-red-400]=" inputErrors('email') && isTouched('email') "
                  >
                  @if (isTouched('email')) {
                    <span
                      class="flex items-center ms-1 mt-1.5 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('email')"
                      [class.hidden]="!inputErrors('email')"
                      inputLabel="Email" >
                    </span>
                  }
                </div>

                <div class="col-span-2 xs:col-span-4">
                  <label for="txtBirthDate" class="block mb-1.5 text-sm font-medium text-gray-900 dark:text-white">
                    Fecha de nacimiento
                  </label>
                  <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                      <i class="fa-solid fa-calendar-days text-gray-500 dark:text-gray-400"></i>
                    </div>
                    <input
                      #birthDateInput
                      type="text"
                      id="txtBirthDate"
                      mwlFlatpickr
                      locale="Spanish"
                      [altInput]="true"
                      [maxDate]="maxBirthDate"
                      class="bg-gray-50 border text-center border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="YYYY-MM-DD"
                      formControlName="birthDate"
                      [class.border-red-400]=" inputErrors('birthDate') && isTouched('birthDate') "
                    >
                  </div>

                  @if (isTouched('birthDate')) {
                    <span
                      class="flex items-center ms-1 mt-1.5 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('birthDate')"
                      [class.hidden]="!inputErrors('birthDate')"
                      inputLabel="fecha de nacimiento" >
                    </span>
                  }
                </div>

                <div class="col-span-2 xs:col-span-4">
                  <label for="txtAdmissionDate" class="block mb-1.5 text-sm font-medium text-gray-900 dark:text-white">
                    Fecha de ingreso
                  </label>
                  <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                      <i class="fa-solid fa-calendar-days text-gray-500 dark:text-gray-400"></i>
                    </div>
                    <input
                      #birthDateInput
                      type="text"
                      id="txtAdmissionDate"
                      mwlFlatpickr
                      locale="Spanish"
                      [altInput]="true"
                      [maxDate]="currentDate"
                      class="bg-gray-50 border text-center border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="YYYY-MM-DD"
                      formControlName="admissionDate"
                      [class.border-red-400]=" inputErrors('admissionDate') && isTouched('admissionDate') "
                    >
                  </div>

                  @if (isTouched('admissionDate')) {
                    <span
                      class="flex items-center ms-1 mt-1.5 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('admissionDate')"
                      inputLabel="fecha de ingreso" >
                    </span>
                  }
                </div>

                <div class="col-span-4">
                  <label for="txtAdress" class="block mb-1.5 text-sm font-medium text-gray-900 dark:text-white">
                    Dirección
                  </label>
                  <input
                    type="text"
                    id="txtAdress"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Enter Address"
                    formControlName="address"
                    [class.border-red-400]=" inputErrors('address') && isTouched('address') "
                  >
                  @if (isTouched('address')) {
                    <span
                      class="flex items-center ms-1 mt-1.5 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('address')"
                      [errors]="inputErrors('address')"
                      inputLabel="Dirección" >
                    </span>
                  }
                </div>

              </div>

              <div class="flex justify-end gap-3 pt-3">
                <button
                  type="button"
                  data-modal-toggle="payment-modal"
                  class="px-4 py-2 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-50"
                  (click)="onResetUserForm()"
                >
                  Cancelar
                </button>
                <button type="submit" class="px-4 py-2 w-44 bg-emerald-600 hover:bg-emerald-700 text-white rounded-md">
                  <span *ngIf="!isLoading() else sellerPaymentSpinner" >
                    Guardar
                  </span>
                </button>
              </div>
            </form>
        </div>
    </div>
</div>

<ng-template #sellerPaymentSpinner>
  <spinner></spinner>
</ng-template>

