<!-- Header principal -->
<div class="mb-8">
  <h1 class="text-2xl font-bold text-gray-800 dark:text-slate-200 ">Gestión de Clientes</h1>
</div>

<!-- Métricas Cards -->
<client-indicators></client-indicators>

<!-- Sección principal de Clientes -->
<div class="bg-white rounded-lg shadow-sm p-6 dark:bg-slate-800">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4 mb-6">
    <div>
      <h2 class="text-xl font-semibold text-gray-900 dark:text-slate-200">Clientes</h2>
      <p class="text-gray-500 text-sm dark:text-slate-400">Todos los clientes y leads asignados</p>
    </div>
    <div class="flex flex-col md:flex-row gap-3">
      <button class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50">
        <span class="iconify w-5 h-5 mr-2" data-icon="ph:download-simple"></span>
        Download PDF Report
      </button>
      <button
        #btnShowClientModal
        type="button"
        data-modal-target="client-modal"
        data-modal-toggle="client-modal"
        class="inline-flex items-center px-4 py-2 rounded-md text-sm font-medium text-white bg-green-600 hover:bg-green-700 transition-colors duration-200"
      >
        <span class="text-xl mr-1">+</span>
        Asignar nuevo
      </button>
    </div>
  </div>

  <!-- Barra de búsqueda -->
  <div class="relative mb-6">
    <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      <span class="iconify w-5 h-5 text-gray-400" data-icon="ph:magnifying-glass"></span>
    </span>

    <input
      type="search"
      placeholder="Buscar cliente..."
      class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm dark:bg-slate-800 dark:border-slate-500"
      [formControl]="searchInput"
      (keydown.enter)="onGetMyClients()"
    >
  </div>

  <!-- Tabla de clientes -->
  <div class="overflow-x-auto">
    <table class="min-w-full  divide-gray-200">
      <thead class="bg-gray-50 dark:bg-slate-700">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-slate-400">Cliente / Empresa</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-slate-400">Email</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-slate-400">Teléfono</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-slate-400">Fecha asignación</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-slate-400">Estado</th>
          <th scope="col" class="w-32 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-slate-400">Acciones</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200 dark:bg-slate-800 dark:divide-slate-600">

        @for (client of clients(); track client.id) {

          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex items-center">
                <!-- <div class="flex-shrink-0 h-10 w-10">
                  <img
                    class="h-10 w-10 rounded-full"
                    src="https://randomuser.me/api/portraits/men/1.jpg" alt=""
                  >
                </div> -->
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900 dark:text-slate-300">
                    {{ client.fullname }}
                  </div>
                  <div class="text-sm text-gray-500 dark:text-slate-400">
                    <span class="text-sm font-semibold">
                      {{ client.identityDocument.shortDescription }}
                    </span>
                    {{ client.identityNumber }}
                  </div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-slate-300">
              {{ client.email }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-slate-300">
              {{ client.phone }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-slate-300">
              {{ client.createAt | moment: 'createAt' }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <span
                class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full "
                [ngClass]="{
                  'bg-green-100 text-green-800': client.clientStatus == FINALIZED,
                  'bg-yellow-100 text-yellow-800': client.clientStatus == PENDING,
                  'bg-red-100 text-red-800': client.clientStatus == NOT_FINALIZED,
                }"
              >
                {{ client.clientStatus | clientStatus }}
              </span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm flex justify-center">
              <button
                type="button"
                class="text-gray-600 hover:text-blue-600 transition-colors dark:text-slate-300 dark:hover:text-blue-600"
                (click)="onLoadToUpdate( client )"
              >
                <span class="iconify w-5 h-5" data-icon="ph:pencil-simple"></span>
              </button>
            </td>
          </tr>

        } @empty {
          <tr>
            <td colspan="6" class="">
              <div class="flex justify-center p-3 text-2xl dark:text-slate-400 italic border-b border-gray-400">
                Sin registros
              </div>
            </td>
          </tr>
        }

      </tbody>
    </table>
  </div>
  <div class="" >

    <!-- (onChangePage)="" -->
    <app-pagination [totalItems]="totalClients()" [itemsPerPage]="5" (onChangePage)="onGetMyClients( $event )"  >

    </app-pagination>

  </div>
</div>


<!-- Main modal -->
<div id="client-modal" data-modal-backdrop="true" tabindex="-1" aria-hidden="false" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">

      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                  {{ clientModalTitle }}
              </h3>
              <button
                #btnCloseClientModal
                type="button"
                data-modal-toggle="client-modal"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                (click)="onResetAfterSubmit()"
              >
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          <!-- Modal body -->
          <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="p-4">

              <div class="grid gap-4 mb-4 grid-cols-6">

                <div class="col-span-3 xs:col-span-6 mb-0">
                  <label for="cbxPersonType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Tipo *
                  </label>
                  <ng-select
                    id="cbxPersonType"
                    class="bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    [items]="personTypes()"
                    (ngModelChange)="onChangePersonType( $event )"
                    bindLabel="label"
                    bindValue="value"
                    placeholder="Seleccione tipo de persona"
                    formControlName="personType"
                    [class.border-red-400]=" inputErrors('personType') && isTouched('personType') "
                  >
                  </ng-select>

                  @if (isTouched('personType')) {
                    <span
                      class="flex items-center ms-1 mt-2 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('personType')"
                      inputLabel="Tipo" >
                    </span>
                  }
                </div>

                <div class="col-span-3 xs:col-span-6 mb-0">
                  <label for="cbxIdentityDocument" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Documento de identidad *
                  </label>
                  <ng-select
                    id="cbxIdentityDocument"
                    class="bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    [items]="identityDocuments()"
                    (change)="onChangeIdentityDocument( $event )"
                    bindLabel="shortDescription"
                    bindValue="id"
                    placeholder="Seleccione documento de identidad"
                    formControlName="identityDocumentId"
                    [class.border-red-400]=" inputErrors('identityDocumentId') && isTouched('identityDocumentId') "
                  >
                  </ng-select>

                  @if (isTouched('identityDocumentId')) {
                    <span
                      class="flex items-center ms-1 mt-2 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('identityDocumentId')"
                      inputLabel="Documento de identidad" >
                    </span>
                  }
                </div>

                @if ( !isJuridicPerson() ) {

                  <div class="col-span-3 xs:col-span-6 mb-0">
                      <label for="txtNames" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Nombres *
                      </label>
                      <input
                        type="text"
                        id="txtNames"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Enter Name"
                        formControlName="name"
                        [class.border-red-400]=" inputErrors('name') && isTouched('name') "
                      >

                      @if (isTouched('name')) {
                        <span
                          class="flex items-center ms-1 mt-2 text-xs text-red-500"
                          inputErrors
                          [errors]="inputErrors('name')"
                          inputLabel="Nombres" >
                        </span>
                      }
                  </div>

                  <div class="col-span-3 xs:col-span-6 mb-0">
                      <label for="txtSurname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Apellidos *
                      </label>
                      <input
                        type="text"
                        id="txtSurname"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Enter Surname"
                        formControlName="surname"
                        [class.border-red-400]=" inputErrors('surname') && isTouched('surname') "
                      >

                      @if (isTouched('surname')) {
                        <span
                          class="flex items-center ms-1 mt-2 text-xs text-red-500"
                          inputErrors
                          [errors]="inputErrors('surname')"
                          inputLabel="Apellidos" >
                        </span>
                      }
                  </div>

                } @else {

                  <div class="col-span-6 xs:col-span-6 mb-0">
                      <label for="txtBussinessName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Razón social *
                      </label>
                      <input
                        type="text"
                        id="txtBussinessName"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Enter Bussiness Name"
                        formControlName="bussinessName"
                        [class.border-red-400]=" inputErrors('bussinessName') && isTouched('bussinessName') "
                      >

                      @if (isTouched('bussinessName')) {
                        <span
                          class="flex items-center ms-1 mt-2 text-xs text-red-500"
                          inputErrors
                          [errors]="inputErrors('bussinessName')"
                          inputLabel="Razón social" >
                        </span>
                      }
                  </div>

                }

                <div class="col-span-6 xs:col-span-6 mb-0">
                  <label for="txtAddress" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Dirección *
                  </label>
                  <input
                    type="text"
                    id="txtAddress"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Enter Address"
                    formControlName="address"
                    [class.border-red-400]=" inputErrors('address') && isTouched('address') "
                  >

                  @if (isTouched('address')) {
                    <span
                      class="flex items-center ms-1 mt-2 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('address')"
                      inputLabel="Dirección" >
                    </span>
                  }
                </div>

                <div class="col-span-2 xs:col-span-3 mb-0">
                    <label for="txtDocumentNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                      Nro Documento *
                    </label>
                    <input
                      type="text"
                      id="txtDocumentNumber"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="#######"
                      formControlName="identityNumber"
                      [class.border-red-400]=" inputErrors('identityNumber') && isTouched('identityNumber') "
                    >

                    @if (isTouched('identityNumber')) {
                      <span
                        class="flex items-center ms-1 mt-2 text-xs text-red-500"
                        inputErrors
                        [errors]="inputErrors('identityNumber')"
                        inputLabel="Nro documento" >
                      </span>
                    }
                </div>

                <div class="col-span-4 xs:col-span-3 mb-0">
                    <label for="txtEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                      Email *
                    </label>
                    <input
                      type="text"
                      id="txtEmail"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="example@domain.com"
                      formControlName="email"
                      [class.border-red-400]=" inputErrors('email') && isTouched('email') "
                    >

                    @if (isTouched('email')) {
                      <span
                        class="flex items-center ms-1 mt-2 text-xs text-red-500"
                        inputErrors
                        [errors]="inputErrors('email')"
                        inputLabel="Email" >
                      </span>
                    }
                </div>

                <div class="col-span-2 xs:col-span-6 mb-0">
                  <label for="txtBirthDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Fecha de nacimiento *
                  </label>
                  <input
                    #birthDateInput
                    type="text"
                    id="txtBirthDate"
                    mwlFlatpickr
                    locale="Spanish"
                    [altInput]="true"
                    [maxDate]="maxBirthDate"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="YYYY-MM-DD"
                    formControlName="birthDate"
                    [class.border-red-400]=" inputErrors('birthDate') && isTouched('birthDate') "
                  >

                  @if (isTouched('birthDate')) {
                    <span
                      class="flex items-center ms-1 mt-2 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('birthDate')"
                      inputLabel="fecha de nacimiento" >
                    </span>
                  }
                </div>

                <div class="col-span-2 xs:col-span-6 mb-0">
                  <label for="txtPhone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Teléfono *
                  </label>
                  <input
                    type="text"
                    id="txtPhone"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="+00 000 000 000"
                    formControlName="phone"
                    [class.border-red-400]=" inputErrors('phone') && isTouched('phone') "
                  >

                  @if (isTouched('phone')) {
                    <span
                      class="flex items-center ms-1 mt-2 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('phone')"
                      inputLabel="Teléfono" >
                    </span>
                  }
                </div>

                <div class="col-span-2 xs:col-span-6 mb-0">
                  <label for="txtPhone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Teléfono 2
                  </label>
                  <input
                    type="text"
                    id="txtPhone"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="+00 000 000 000"
                    formControlName="secondaryPhone"
                    [class.border-red-400]=" inputErrors('secondaryPhone') && isTouched('secondaryPhone') "
                  >

                  @if (isTouched('secondaryPhone')) {
                    <span
                      class="flex items-center ms-1 mt-2 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('secondaryPhone')"
                      inputLabel="Teléfono 2" >
                    </span>
                  }
                </div>

                <div class="col-span-3 xs:col-span-6 mb-6">
                  <label for="cbxPersonType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Estado civil *
                  </label>
                  <ng-select
                    id="cbxPersonType"
                    class="bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    [items]="civilStatus()"
                    bindLabel="label"
                    bindValue="value"
                    placeholder="Seleccione estado civil"
                    formControlName="civilStatus"
                    [class.border-red-400]=" inputErrors('civilStatus') && isTouched('civilStatus') "
                  >
                  </ng-select>

                  @if (isTouched('civilStatus')) {
                    <span
                      class="flex items-center ms-1 mt-2 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('civilStatus')"
                      inputLabel="Estado civil" >
                    </span>
                  }
                </div>

                <div class="col-span-3 xs:col-span-6 mb-6">
                  <label for="cbxPersonType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Género *
                  </label>
                  <ng-select
                    id="cbxPersonType"
                    class="bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    [items]="genders()"
                    bindLabel="label"
                    bindValue="value"
                    placeholder="Seleccione genero"
                    formControlName="gender"
                    [class.border-red-400]=" inputErrors('gender') && isTouched('gender') "
                  >
                  </ng-select>

                  @if (isTouched('gender')) {
                    <span
                      class="flex items-center ms-1 mt-2 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('gender')"
                      inputLabel="Genero" >
                    </span>
                  }
                </div>

              </div>

              <div class="flex justify-end gap-3 ">
                <button
                  type="button"
                  data-modal-toggle="client-modal"
                  class="px-4 py-2 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-50"
                  (click)="onResetAfterSubmit()"
                >
                  Cancelar
                </button>

                <button
                  type="submit"
                  class="text-white cursor-pointer inline-flex justify-center items-center w-44 bg-emerald-600 hover:bg-emerald-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  dark:focus:ring-green-800"
                >
                  <span *ngIf="!isSaving() else singinSpinner" >
                    Guardar
                  </span>
                </button>


              </div>

          </form>
      </div>
  </div>
</div>

<ng-template #singinSpinner>
  <spinner></spinner>
</ng-template>
