<nav class="flex pb-4 ml-5 " aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Dashboard
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a href="#" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Áreas de empresa</a>
      </div>
    </li>
  </ol>
</nav>

<div class="flex flex-wrap ">
  <div class="flex-none w-full max-w-full px-3">
    <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-solid shadow-md dark:bg-slate-850 dark:shadow-dark-md rounded-2xl bg-clip-border   dark:bg-gray-700">

      <div class="flex justify-between p-6 pb-2">
        <div class=" border-b-0 border-b-solid rounded-t-2xl border-b-transparen">
          <h6 class="font-bold dark:text-white">Áreas de empresa</h6>
        </div>

        <div class="flex items-center ">

          <div class="pr-4">
            <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease">
              <span class="text-sm ease leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
                <svg
                  class="w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  ></path>
                </svg>
              </span>
              <input
                type="text"
                class="pl-9 text-sm focus:shadow-primary-outline ease w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid dark:bg-gray-800 dark:text-white bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 "
                placeholder="Buscar..."
                [formControl]="searchInput"
                [class.border-gray-300]="isInvalidSearchInput == false"
                [class.border-red-400]="isInvalidSearchInput == true"
                (keyup.enter)="onGetAreaCompany()"
              />
            </div>
          </div>

          <div class="">
            <button
              #btnShowAreaCompanyModal
              type="button"
              data-modal-target="areaCompany-modal"
              data-modal-toggle="areaCompany-modal"
              class="inline-block px-6 py-2 mr-3 font-semibold text-center text-white align-middle transition-all rounded cursor-pointer bg-emerald-600 hover:bg-emerald-700 leading-normal ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md "
              >
              <i class="fa fa-plus" aria-hidden="true"></i>
              &nbsp;Nuevo
            </button>
          </div>

        </div>
      </div>

      <div class="flex-auto px-0 pt-0 pb-2">
        <div class="p-0 overflow-x-auto">
          <table class="items-center w-full mb-0 align-top border-collapse dark:border-white/40 text-slate-500">
            <thead class="align-bottom">
              <tr>
                <th class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-800 dark:text-slate-100 opacity-70">Nombre</th>
                <th class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-800 dark:text-slate-100 opacity-70">Descripción</th>
                <th class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-800 dark:text-slate-100 opacity-70">Estado</th>
                <th class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-800 dark:text-slate-100 opacity-70">F. creación</th>
                <th class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-collapse border-solid shadow-none dark:border-white/40 tracking-none whitespace-nowrap text-slate-800 dark:text-slate-100 opacity-70"></th>
              </tr>
            </thead>
            <tbody>

              @if ( allowList() ) {

                @for ( areaCompany of areasCompany(); track $index) {
                  <tr>

                    <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent dark:text-gray-300">
                      {{ areaCompany.name }}
                    </td>

                    <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent dark:text-gray-300">
                      @if( areaCompany.description && areaCompany.description.length > 65 ) {
                        {{ areaCompany.description | slice:0:65 }}...

                      } @else {
                        {{ areaCompany.description }}
                      }
                    </td>

                    <td class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                      <span
                        class=" text-xs font-medium me-2 px-2.5 py-0.5 rounded 0 dark:text-gray-300"
                        [ngClass]="{
                          'bg-gray-100': !areaCompany.isActive,
                          'text-gray-800': !areaCompany.isActive,
                          'dark:bg-gray-700': !areaCompany.isActive,
                          'dark:text-gray-30': !areaCompany.isActive,

                          'bg-green-100': areaCompany.isActive,
                          'text-green-800': areaCompany.isActive,
                          'dark:bg-green-900': areaCompany.isActive,
                          'dark:text-green-300': areaCompany.isActive,
                        }"
                      >
                        Activo
                      </span>
                    </td>

                    <td  class=" text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                      <span class="text-xs uppercase font-semibold leading-tight dark:text-gray-300 dark:opacity-80 text-slate-400">
                         {{ areaCompany.createAt | moment:'createAt' }}
                      </span>
                    </td>

                    <td class=" bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                      <div class="flex  gap-3 justify-end pr-6">
                        <a href="javascript:;" class="flex gap-1 text-xs font-semibold leading-tight uppercase dark:opacity-80 text-slate-400 dark:text-gray-300"
                        (click)="onLoadToUpdate( areaCompany )"
                        >
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                          Editar
                        </a>

                        <a href="javascript:;" class="flex gap-2 text-xs font-semibold leading-tight uppercase dark:opacity-80 text-red-500"
                        (click)="onRemoveConfirm( areaCompany )"
                        >
                          <i class="fa fa-trash" aria-hidden="true"></i>
                          Eliminar
                        </a>
                      </div>

                    </td>
                  </tr>
                } @empty {

                  @if (!isLoading()) {
                    <tr>
                      <td rowspan="5">
                        <div class="col-12 h-10">
                          <h3>Sin registros</h3>
                        </div>
                      </td>
                    </tr>
                  }
                }

              } @else {
                <tr>
                  <td colspan="5">
                    <div class="text-center p-4 border-b text-xl text-slate-400">
                      <h3>No tiene permiso para listar <span class="font-bold">Métodos de pago</span> </h3>
                    </div>
                  </td>
                </tr>
              }

            </tbody>
          </table>
        </div>
        <div class="" >

          <!-- (onChangePage)="" -->
          <app-pagination [totalItems]="totalAreasCompany()" (onChangePage)="onGetAreaCompany( $event )"  >

          </app-pagination>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main modal -->
<div id="areaCompany-modal" data-modal-backdrop="true" tabindex="-1" aria-hidden="false" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 mt-5 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-sm max-h-full">

      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white" >
                  {{ areaCompanyModalTitle }}
              </h3>
              <button
                #btnCloseAreaCompanyModal
                type="button"
                data-modal-toggle="areaCompany-modal"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                (click)="onResetAfterSubmit()"
              >
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          <!-- Modal body -->
          <form [formGroup]="areaCompanyForm" (ngSubmit)="onSubmit()" class="p-4">
            <div class="grid gap-2 mb-4 grid-cols-1">

              <div class="col-span-1">
                <label for="txtNamePm" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Nombre
                </label>
                <input
                  type="text"
                  id="txtNamePm"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="Enter Surname"
                  formControlName="name"
                  [class.border-red-400]=" inputErrors('name') && isTouched('name') "
                >
                @if (isTouched('name')) {
                  <span
                    class="flex items-center ms-1 mt-2 text-xs text-red-500"
                    inputErrors
                    [errors]="inputErrors('name')"
                    inputLabel="Nombre" >
                  </span>
                }
              </div>

              <div class="col-span-1">
                <label for="txtDescriptionPm" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Descripción
                </label>
                <textarea
                    id="txtDescriptionPm"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    rows="3"
                    [value]=""
                    formControlName="description"
                    [class.border-red-400]=" inputErrors('description') && isTouched('description') "
                  ></textarea>
                @if (isTouched('description')) {
                  <span
                    class="flex items-center ms-1 mt-2 text-xs text-red-500"
                    inputErrors
                    [errors]="inputErrors('description')"
                    inputLabel="description" >
                  </span>
                }
              </div>

            </div>

            <div class="pb-2">
              <button
                type="submit"
                class="text-white inline-flex justify-center items-center w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >

                <span *ngIf="!isLoading() else areaCompanySpinner" >
                  Guardar
                </span>
              </button>
            </div>

          </form>
      </div>
  </div>
</div>

<ng-template #areaCompanySpinner>
  <spinner></spinner>
</ng-template>
