
<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 bg-white shadow dark:bg-gray-700">
  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Crear visitante
  </h3>
  <!-- [mat-dialog-close]="undefined" -->
  <button
    type="button"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
    (click)="onClose()"
  >
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
      <span class="sr-only">Close modal</span>
  </button>
</div>

<mat-dialog-content class="bg-white shadow dark:bg-gray-700">

  <form [formGroup]="visitorForm"  >

    <div class="grid gap-4 mb-4 grid-cols-1 md:grid-cols-6">

      <div class="col-span-6 md:col-span-3">
          <label for="cbxPersonType" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
            Tipo <span class="text-red-600">*</span>
          </label>
          <ng-select id="cbxPersonType" class="bg-gray-50 text-gray-900 text-sm rounded-md block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" [items]="personTypes()" (change)="onChangePersonType( $event.value )"
              bindLabel="label" bindValue="value" placeholder="Seleccione tipo de persona" formControlName="personType" [class.border-red-400]=" inputErrors('personType') && isTouched('personType') ">
          </ng-select>

          @if (isTouched('personType')) {
          <span class="flex items-center ms-1 mt-2 text-xs text-red-500" inputErrors [errors]="inputErrors('personType')" [class.hidden]="!inputErrors('personType')" inputLabel="Tipo">
            </span> }
      </div>

      <div class="col-span-6 md:col-span-3">
          <label for="cbxIdentityDocument" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
            Documento de identidad <span class="text-red-600">*</span>
          </label>
          <ng-select id="cbxIdentityDocument" class="bg-gray-50 text-gray-900 text-sm rounded-md block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" [items]="identityDocuments()" (change)="onChangeIdentityDocument( $event )"
              bindLabel="shortDescription" bindValue="id" placeholder="Seleccione documento de identidad" formControlName="identityDocumentId" [class.border-red-400]=" inputErrors('identityDocumentId') && isTouched('identityDocumentId') ">
          </ng-select>

          @if (isTouched('identityDocumentId')) {
          <span class="flex items-center ms-1 mt-2 text-xs text-red-500" inputErrors [errors]="inputErrors('identityDocumentId')" [class.hidden]="!inputErrors('identityDocumentId')" inputLabel="Documento de identidad">
            </span> }
      </div>

      @if ( !isJuridicPerson() ) {

      <div class="col-span-6 md:col-span-3">
          <label for="txtNames" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
            Nombres <span class="text-red-600">*</span>
          </label>
          <input type="text" id="txtNames" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter Name" formControlName="name" [class.border-red-400]=" inputErrors('name') && isTouched('name') "> @if (isTouched('name')) {
          <span class="flex items-center ms-1 mt-2 text-xs text-red-500" inputErrors [errors]="inputErrors('name')" [class.hidden]="!inputErrors('name')" inputLabel="Nombres">
              </span> }
      </div>

      <div class="col-span-6 md:col-span-3">
          <label for="txtSurname" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
            Apellidos <span class="text-red-600">*</span>
          </label>
          <input type="text" id="txtSurname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter Surname" formControlName="surname" [class.border-red-400]=" inputErrors('surname') && isTouched('surname') "> @if (isTouched('surname')) {
          <span class="flex items-center ms-1 mt-2 text-xs text-red-500" inputErrors [errors]="inputErrors('surname')" [class.hidden]="!inputErrors('surname')" inputLabel="Apellidos">
            </span> }
      </div>

      } @else {

      <div class="col-span-6 xs:col-span-6">
          <label for="txtBussinessName" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
            Razón social <span class="text-red-600">*</span>
          </label>
          <input
            type="text"
            id="txtBussinessName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Enter Bussiness Name"
            formControlName="bussinessName"
            [class.border-red-400]=" inputErrors('bussinessName') && isTouched('bussinessName') "
          >

          @if (isTouched('bussinessName')) {
              <span
                class="flex items-center ms-1 mt-2 text-xs text-red-500"
                inputErrors
                [errors]="inputErrors('bussinessName')"
                [class.hidden]="!inputErrors('bussinessName')"
                inputLabel="Razón social"
              >
              </span>
          }
      </div>

      <div class="col-span-6 xs:col-span-6">
          <label for="txtLegalRepresentative" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
            Representante legal <span class="text-red-600">*</span>
          </label>
          <input type="text" id="txtLegalRepresentative" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter Legal Representative" formControlName="legalRepresentative" [class.border-red-400]=" inputErrors('legalRepresentative') && isTouched('legalRepresentative') "> @if (isTouched('legalRepresentative'))
          {
          <span class="flex items-center ms-1 mt-2 text-xs text-red-500" inputErrors [errors]="inputErrors('legalRepresentative')" [class.hidden]="!inputErrors('legalRepresentative')" inputLabel="Representante legal">
              </span> }
      </div>

      }

      <div class="col-span-3 md:col-span-3">
          <label for="txtDocumentNumber" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
            Nro Documento <span class="text-red-600">*</span>
          </label>
          <input type="text" id="txtDocumentNumber" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="#######" formControlName="identityNumber" [class.border-red-400]=" inputErrors('identityNumber') && isTouched('identityNumber') "> @if (isTouched('identityNumber')) {
          <span class="flex items-center ms-1 mt-2 text-xs text-red-500" inputErrors [errors]="inputErrors('identityNumber')" [class.hidden]="!inputErrors('identityNumber')" inputLabel="Nro documento">
              </span> }
      </div>

      <div class="col-span-3 md:col-span-3">
          <label for="txtPhone" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
            Teléfono <span class="text-red-600">*</span>
          </label>
          <input type="text" id="txtPhone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="+00 000 000 000" formControlName="phone" [class.border-red-400]=" inputErrors('phone') && isTouched('phone') "> @if (isTouched('phone')) {
          <span class="flex items-center ms-1 mt-2 text-xs text-red-500" inputErrors [errors]="inputErrors('phone')" [class.hidden]="!inputErrors('phone')" inputLabel="Teléfono">
              </span> }
      </div>

      <div class="col-span-4 md:col-span-4" [ngClass]="{'!col-span-6': isJuridicPerson()}">
          <label for="txtEmail" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
            Email
          </label>
          <input type="text" id="txtEmail" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="example@domain.com" formControlName="email" [class.border-red-400]=" inputErrors('email') && isTouched('email') "> @if (isTouched('email')) {
          <span class="flex items-center ms-1 mt-2 text-xs text-red-500" inputErrors [errors]="inputErrors('email')" [class.hidden]="!inputErrors('email')" inputLabel="Email">
              </span> }
      </div>

      @if ( !isJuridicPerson() ) {
        <div class="col-span-2 md:col-span-2 ">
            <label for="cbxPersonType" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
              Género <span class="text-red-600">*</span>
            </label>
            <ng-select id="cbxPersonType" class="bg-gray-50 border text-gray-900 text-sm rounded-md block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" [items]="genders()" bindLabel="label"
                bindValue="value" placeholder="Seleccione genero" formControlName="gender" [class.border-red-400]=" inputErrors('gender') && isTouched('gender') ">
            </ng-select>

            @if (isTouched('gender')) {
            <span class="flex items-center ms-1 mt-2 text-xs text-red-500" inputErrors [errors]="inputErrors('gender')" [class.hidden]="!inputErrors('gender')" inputLabel="Genero">
              </span> }
        </div>
      }

  </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions class="bg-white shadow dark:bg-gray-700">
  <div class="px-3 pb-3 w-full flex justify-end items-center gap-3 ">

    <button
      (click)="onClose()"
      type="button"
      class="w-[130px] text-black inline-flex justify-center items-center bg-slate-100 hover:bg-slate-200 focus:ring-3 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-slate-200 dark:hover:bg-slate-300 dark:focus:ring-slate-400"
    >
      <span >
        Cancelar
      </span>
    </button>

    <button
      (click)="onSubmit()"
      type="button"
      class="w-[230px] text-white inline-flex justify-center items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      <span *ngIf="!saveInProgress() else submitSpinner" >
        Guardar
      </span>
    </button>
  </div>
</mat-dialog-actions>


<ng-template #submitSpinner>
  <spinner></spinner>
</ng-template>
