
<div class=" w-full flex flex-wrap items-center justify-center mx-auto ">

  <div class="bg-white border rounded-md shadow-sm pe-6 ps-6 pt-4 pb-4 w-2/3 max-sm:w-full max-md:w-full dark:bg-gray-700">

    <h3 class="text-lg font-semibold text-gray-900 dark:text-white pb-3">
        Crear nuevo contrato
    </h3>
    <div class="">

      <custom-stepper #myStepper [disabledHeaderChangeStep]="true" >

        <cdk-step label="Propietario" aria-label="Cliente propietario" [stepControl]="contractFormOne" >

          <form [formGroup]="contractFormOne" >
            <div class="grid gap-4 grid-cols-6 pb-3">

              <div class="col-span-6 xs:col-span-6 ">
                <label for="cbxPersonType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Cliente(s) *
                </label>
                <ng-select
                  id="cbxPersonType"
                  class="bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  [items]="clients()"
                  [searchable]="false"
                  [hideSelected]="true"
                  [multiple]="true"
                  [closeOnSelect]="false"
                  bindLabel="fullname"
                  bindValue="id"
                  placeholder="Seleccione cliente"
                  formControlName="clientIds"
                  [class.border-red-400]=" inputErrors('clientIds') && isTouched('clientIds') "
                >

                  <ng-template ng-header-tmp >

                    <div class="flex justify-between gap-3">

                      <input
                            type="text"
                            id="txtSearchClient"
                            class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Buscar cliente..."
                            [formControl]="searchClientInput"
                        >

                        <button type="button" class=" w-36 px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                          (click)="onSearchClients()"
                        >
                          Buscar
                        </button>
                    </div>
                  </ng-template>

                  <ng-template ng-option-tmp let-item="item" class="text-gray-900 whitespace-nowrap dark:text-white">

                    <div class="ps-3 flex justify-between">
                      <div class="text-normal font-semibold">
                        {{ item.fullname }}
                      </div>
                      <div class="font-normal text-sm text-gray-500 pe-5">
                        {{ item?.identityDocument?.shortDescription ?? '...' }} : {{ item?.identityNumber ?? '---' }}
                      </div>
                    </div>

                  </ng-template>

                </ng-select>

                @if (isTouched('clientIds')) {
                  <span
                    class="flex items-center ms-1 mt-2 text-xs text-red-500"
                    inputErrors
                    [errors]="inputErrors('clientIds')"
                    inputLabel="Cliente(s)" >
                  </span>
                }
              </div>

             <!-- <div class="col-span-6 xs:col-span-6 ">

                <label for="txtDocumentation" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Documentación
                </label>

                <textarea
                  id="txtDocumentation"
                  rows="5"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Write proyect documentation here..."
                  formControlName="documentation"
                  [class.border-red-400]=" inputErrors('documentation') && isTouched('documentation') "
                  ></textarea>

                  @if (isTouched('documentation')) {
                    <span
                      class="flex items-center ms-1 mt-2 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('documentation')"
                      inputLabel="Documentación" >
                    </span>
                  }

              </div>

              <div class="col-span-6 xs:col-span-6 ">

                <label for="txtObservation" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Observación
                </label>

                <textarea
                  id="txtObservation"
                  rows="3"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Write proyect documentation here..."
                  formControlName="observation"
                  [class.border-red-400]=" inputErrors('observation') && isTouched('observation') "
                  ></textarea>

                  @if (isTouched('observation')) {
                    <span
                      class="flex items-center ms-1 mt-2 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrors('observation')"
                      inputLabel="Documentación" >
                    </span>
                  }

              </div>-->

              <div class="col-span-5 xs:col-span-6 ">
                <label for="cbxUserSeller" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Vendedor *
                </label>
                <ng-select
                  id="cbxUserSeller"
                  class="bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  [items]="users()"
                  [searchable]="false"
                  bindLabel="fullname"
                  bindValue="id"
                  placeholder="Seleccione vendedor"
                  formControlName="selledUserId"
                  [class.border-red-400]=" inputErrors('selledUserId') && isTouched('selledUserId') "
                >

                  <ng-template ng-header-tmp>

                    <div class="flex justify-between gap-3">

                      <input
                            type="text"
                            id="txtSearchSeller"
                            class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Buscar vendedor..."
                            [formControl]="searchUserInput"
                        >

                        <button type="button" class=" w-36 px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                          (click)="onGetUsers()"
                        >
                          Buscar
                        </button>
                    </div>
                  </ng-template>

                </ng-select>

                @if (isTouched('selledUserId')) {
                  <span
                    class="flex items-center ms-1 mt-2 text-xs text-red-500"
                    inputErrors
                    [errors]="inputErrors('selledUserId')"
                    inputLabel="Vendedor" >
                  </span>
                }
              </div>

              <div class="col-span-1 xs:col-span-6">
                <label for="txtPercentComission" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Comisión (%)
                </label>
                <input
                  type="number"
                  id="txtPercentComission"
                  class="bg-gray-50 border text-right border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="0.00"
                  formControlName="percentCommission"
                  [class.border-red-400]=" inputErrors('percentCommission') && isTouched('percentCommission') "
                >
                @if (isTouched('percentCommission')) {
                  <span
                    class="flex items-center ms-1 mt-2 text-xs text-red-500"
                    inputErrors
                    [errors]="inputErrors('percentCommission')"
                    inputLabel="Comisión" >
                  </span>
                }
              </div>


            </div>

            <div class="flex justify-end w-full gap-2">

                <button
                  (click)="onNextLoteStep()"
                  type="button"
                  class="text-white w-72 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    Siguiente
                </button>

                <a routerLink="/dashboard/contracts" class="inline-flex items-center text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                  <i class="fa fa-times me-2"> </i>
                  Cerrar
                </a>

            </div>

          </form>

        </cdk-step>

        <cdk-step label="Lotes" aria-label="Selecciona lotes" [stepControl]="contractFormTwo" >

          <form [formGroup]="contractFormTwo" >

            <div class="grid gap-4 grid-cols-6 ">

              <div class="col-span-5 xs:col-span-6 mb-4">
                <label for="cbxProyect" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Proyecto inmobiliario *
                </label>
                <ng-select
                  id="cbxProyect"
                  class="bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  [items]="proyects()"
                  (change)="onChangeProyect( $event )"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Seleccione proyecto"
                  formControlName="proyectId"
                  [class.border-red-400]=" inputErrors('proyectId') && isTouched('proyectId') "
                >

                </ng-select>

                @if (isTouched('proyectId')) {
                  <span
                    class="flex items-center ms-1 mt-2 text-xs text-red-500"
                    inputErrors
                    [errors]="inputErrors('proyectId')"
                    inputLabel="Cliente" >
                  </span>
                }
              </div>

              <div class="col-span-1 xs:col-span-6 mb-4">
                <label for="cbxProyect" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Mz
                </label>
                <ng-select
                  id="cbxProyect"
                  class="bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  [items]="mzList()"
                  (change)="onChangeMz( $event )"
                  bindLabel="mz"
                  bindValue="mz"
                  placeholder="Seleccione Mz"
                  [formControl]="searchMzInput"
                >

                </ng-select>

                @if (isTouched('proyectId')) {
                  <span
                    class="flex items-center ms-1 mt-2 text-xs text-red-500"
                    inputErrors
                    [errors]="inputErrors('proyectId')"
                    inputLabel="Cliente" >
                  </span>
                }
              </div>

            </div>

            <div class="relative">
              <div id="map" #map class="border rounded bg-slate-600" ></div>

              @if (buildMapInProgress()) {
                <div class="absolute inset-y-0 start-0 w-full h-full flex items-center justify-center bg-slate-600 opacity-50" >
                  <div class="text-white text-xl font-semibold">
                      Seleccione un proyecto
                  </div>
                </div>
              }

              <ul class="absolute bottom-7 w-32 text-sm font-medium text-gray-900 dark:text-white ml-2">

                @for (lote of lotesSelected(); track $index) {
                  <li class="w-full px-4 py-2 mb-1 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600  shadow ">
                    <div class="flex justify-between">
                      {{ lote.mz }}-{{ lote.numberLote }}

                      <span>
                        <i (click)="onRemoveLoteSelected( lote )"
                          class="fa fa-times text-lg text-red-600 cursor-pointer">
                        </i>
                      </span>
                    </div>
                  </li>
                }

              </ul>

            </div>

            @if (inputErrors('loteIds')) {
              <span
                class="flex items-center ms-1 mt-2 text-xs text-red-500"
                inputErrors
                [errors]="inputErrors('loteIds')"
                inputLabel="Lotes" >
              </span>
            }

            <div class="flex justify-end">

              <div class="w-96"></div>

              <div class="flex justify-end gap-2 pt-3 w-full">

                <button
                  cdkStepperPrevious
                  type="button"
                  class="text-white inline-flex justify-center w-52 items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    Anterior
                </button>

                <button
                  (click)="onNextFinancingStep()"
                  type="button"
                  class="text-white inline-flex justify-center items-center w-72 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    Siguiente
                </button>

                <a routerLink="/dashboard/contracts" class="inline-flex items-center text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                  <i class="fa fa-times me-2"> </i>
                  Cerrar
                </a>

              </div>

            </div>
          </form>

        </cdk-step>

        <cdk-step label="Financiamiento" [stepControl]="contractFormThree">

          <form [formGroup]="contractFormThree" >

            <div class="grid gap-4 grid-cols-12 ">

              <div class="col-span-3 xs:col-span-6">
                <label for="cbxPaymentType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Tipo de pago <span class="text-red-500">*</span>
                </label>
                <ng-select
                  id="cbxPaymentType"
                  class="bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  [items]="paymentTypes()"
                  bindLabel="label"
                  (change)="onChangePaymentType( $event )"
                  bindValue="value"
                  placeholder="Seleccione Tipo de pago"
                  formControlName="paymentType"
                  [class.border-red-400]=" inputErrorsThree('paymentType') && isTouchedThree('paymentType') "
                >
                </ng-select>

                @if (isTouchedThree('paymentType')) {
                  <span
                    class="flex items-center ms-1 mt-2 text-xs text-red-500"
                    inputErrors
                    [errors]="inputErrorsThree('paymentType')"
                    [class.hidden]="!inputErrorsThree('paymentType')"
                    inputLabel="Tipo de pago" >
                  </span>
                }
              </div>

              <div class="col-span-3 xs:col-span-6">
                <label for="txtInitialAmount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Monto Inicial <span class="text-red-500">*</span>
                </label>
                <input
                  type="number"
                  id="txtInitialAmount"
                  class="bg-gray-50 border text-right border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="0.00"
                  formControlName="initialAmount"
                  [readOnly]="initialAmoutDisabled()"
                  [class.border-red-400]=" inputErrorsThree('initialAmount') && isTouchedThree('initialAmount') "
                  (change)="onCalculateAmountTotals()"
                >

                @if (isTouchedThree('initialAmount')) {
                  <span
                    class="flex items-center ms-1 mt-2 text-xs text-red-500"
                    inputErrors
                    [errors]="inputErrorsThree('initialAmount')"
                    [class.hidden]="!inputErrorsThree('initialAmount')"
                    inputLabel="Monto inicial" >
                  </span>
                }
              </div>

              <div class="col-span-3 xs:col-span-6">
                <label for="txtNumberOfQuotesPaid" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Número de cuotas pagadas <span class="text-red-500">*</span>
                </label>
                <input
                  type="number"
                  id="txtNumberOfQuotesPaid"
                  class="bg-gray-50 border text-right border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="0"
                  formControlName="numberOfQuotesPaid"
                  [class.border-red-400]=" inputErrorsThree('numberOfQuotesPaid') && isTouchedThree('numberOfQuotesPaid')"
                  (change)="onCalculateAmountTotals()"
                >

                @if (isTouchedThree('numberOfQuotesPaid')) {
                  <span
                    class="flex items-center ms-1 mt-2 text-xs text-red-500"
                    inputErrors
                    [errors]="inputErrorsThree('numberOfQuotesPaid')"
                    [class.hidden]="!inputErrorsThree('numberOfQuotesPaid')"
                    inputLabel="Monto inicial" >
                  </span>
                }
              </div>

              <div class="col-span-3 xs:col-span-6" >
                <label for="txtContractDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Fecha de contrato
                </label>
                <input
                  #contractDateInput
                  type="text"
                  id="txtContractDate"
                  mwlFlatpickr
                  locale="Spanish"
                  [altInput]="true"
                  [maxDate]="maxDate"
                  class="bg-gray-50 border text-center border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="YYYY-MM-DD"
                  formControlName="contractDate"
                  [class.border-red-400]=" inputErrorsThree('contractDate') && isTouchedThree('contractDate') "
                >

                @if (isTouchedThree('contractDate')) {
                  <span
                    class="flex items-center ms-1 mt-2 text-xs text-red-500"
                    inputErrors
                    [errors]="inputErrorsThree('contractDate')"
                    [class.hidden]="!inputErrorsThree('contractDate')"
                    inputLabel="fecha de contrato" >
                  </span>
                }
              </div>

              @if (!paymentTypeIsCash) {

                <div class="col-span-6 xs:col-span-12">
                  <label for="cbxProyect" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Financiamiento <span class="text-red-500">*</span>
                  </label>
                  <ng-select
                    id="cbxProyect"
                    class="bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    [items]="financings()"
                    bindLabel="name"
                    (change)="onChangeFinancing( $event )"
                    bindValue="id"
                    placeholder="Seleccione financimaiento"
                    formControlName="financingId"
                    [class.border-red-400]=" inputErrorsThree('financingId') && isTouchedThree('financingId') "
                  >

                  </ng-select>

                  @if (isTouchedThree('financingId')) {
                    <span
                      class="flex items-center ms-1 mt-2 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrorsThree('financingId')"
                      [class.hidden]="!inputErrorsThree('financingId')"
                      inputLabel="Financiamiento" >
                    </span>
                  }
                </div>

                <div class="col-span-6 xs:col-span-12">
                  <label for="cbxProyect" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Coutas de pago <span class="text-red-500">*</span>
                  </label>
                  <ng-select
                    id="cbxProyect"
                    class="bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    [items]="quotas()"
                    bindLabel="numberOfQuotes"
                    bindValue="id"
                    placeholder="Seleccione cuotas"
                    (change)="onChangeQuota( $event )"
                    formControlName="quotaId"
                    [class.border-red-400]=" inputErrorsThree('quotaId') && isTouchedThree('quotaId') "
                  >

                  </ng-select>

                  @if (isTouchedThree('quotaId')) {
                    <span
                      class="flex items-center ms-1 mt-2 text-xs text-red-500"
                      inputErrors
                      [errors]="inputErrorsThree('quotaId')"
                      [class.hidden]="!inputErrorsThree('quotaId')"
                      inputLabel="Cuotas" >
                    </span>
                  }
                </div>
              }

            </div>

            <div class="relative overflow-x-auto pt-6 pb-2">
              <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                      <tr>
                          <th scope="col" class="px-6 py-3 rounded-s-lg">
                              Lotes a comprar
                          </th>
                          <th scope="col" class="px-6 py-3 rounded-e-lg text-center">
                              Precio
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                    @for ( lote of lotesSelected(); track $index) {
                      <tr class="bg-white dark:bg-gray-800">


                          <th scope="row" class="px-6 py-2 text-gray-900 whitespace-nowrap dark:text-white">

                            <div class="">
                              <div class="text-base font-semibold">
                                {{ lote.code }}
                              </div>
                              <div class="font-normal text-gray-500">
                                {{ lote.squareMeters }} m2
                              </div>
                            </div>


                          </th>

                          <td class="px-6 py-2 text-right">
                              S/ {{ lote.price | number: '.2-2' }}
                          </td>
                      </tr>
                    }
                  </tbody>
                  <tfoot>
                      <tr class="font-semibold text-gray-900 dark:text-white">
                          <th scope="row" class="px-6 py-1 text-base">Total</th>
                          <td class="px-6 py-1 text-right">
                            S/ {{ lotesAmount() | number: '.2-2' }}
                          </td>
                      </tr>
                      <tr class="font-semibold text-gray-900 dark:text-white">
                        <th scope="row" class="px-6 py-1 text-base">Interés</th>
                        <td class="px-6 py-1 text-right">
                          {{ interestPercent() }}%
                        </td>
                      </tr>
                      <tr class="font-semibold text-gray-900 dark:text-white">
                        <th scope="row" class="px-6 py-1 text-base">Total a financiar</th>
                        <td class="px-6 py-1 text-right">
                          S/ {{ amountToFinancing() | number: '.2-2' }}
                        </td>
                      </tr>

                      <tr class="font-semibold text-gray-900 dark:text-white">
                        <th scope="row" class="px-6 py-1 text-base">Cant. Cuotas pagadas</th>
                        <td class="px-6 py-1 text-right">
                          {{ numberOfQuotesPaid }}
                        </td>
                      </tr>

                      <tr class="font-semibold text-gray-900 dark:text-white">
                        <th scope="row" class="px-6 py-1 text-base">Cant. Cuotas pendientes</th>
                        <td class="px-6 py-1 text-right">
                          {{ countQuotesPending() }}
                        </td>
                      </tr>

                      <tr class="font-semibold text-gray-900 dark:text-white">
                        <th scope="row" class="px-6 py-1 text-base">Monto pagado</th>
                        <td class="px-6 py-1 text-right">
                          S/ {{ amountPaid() | number: '.2-2' }}
                        </td>
                      </tr>

                      <tr class="font-semibold text-gray-900 dark:text-white">
                        <th scope="row" class="px-6 py-1 text-base">Monto por pagar</th>
                        <td class="px-6 py-1 text-right">
                          S/ {{ amountPaidPending() | number: '.2-2' }}
                        </td>
                      </tr>

                      <tr class="font-semibold text-gray-900 dark:text-white">
                        <th scope="row" class="px-6 py-1 text-base">Monto por cuota</th>
                        <td class="px-6 py-1 text-right">
                          S/ {{ amountToQuota() | number: '.2-2' }}
                        </td>
                      </tr>
                  </tfoot>
              </table>
            </div>

            <div class="flex justify-end">

              <div class="flex justify-end gap-2 pt-6 w-full">

                <button
                  cdkStepperPrevious
                  type="button"
                  class="text-white inline-flex justify-center items-center w-52 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    Anterior
                </button>

                <button
                  (click)="onSubmit()"
                  type="button"
                  class="text-white inline-flex justify-center items-center w-72 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    Guardar contrato
                </button>

                <a routerLink="/dashboard/contracts" class="inline-flex items-center text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                  <i class="fa fa-times me-2"> </i>
                  Cerrar
                </a>

              </div>

            </div>
          </form>

        </cdk-step>
      </custom-stepper>

    </div>

    <ng-template #singinSpinner>
      <spinner></spinner>
    </ng-template>



  </div>
</div>
