<nav class="flex pb-4 ml-5 " aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Dashboard
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a href="#" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Pago de cuotas</a>
      </div>
    </li>
  </ol>
</nav>


<div class="grid gap-4 grid-cols-12 py-6 px-4">

  <div class="col-span-8 bg-white shadow rounded-md dark:bg-gray-700 px-6 py-6 ">

    <div class="text-lg font-bold text-slate-800 dark:text-slate-100 mb-4">
      Información del cliente
    </div>

    <div class="flex justify-center items-end gap-3">

      <div class="w-full">
        <label for="cbxContract" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Buscar Contrato:
        </label>
        <ng-select
          id="cbxContract"
          class="navbar bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full dark:bg-gray-600  dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          [items]="contracts()"
          [searchable]="false"
          bindLabel="code"
          bindValue="id"
          placeholder="Seleccione contrato"
          [formControl]="contractInput"
          [class.border-red-400]="searchInputIsTouched && searchInputErrors"
        >

          <ng-template ng-header-tmp>

            <div class="flex justify-between gap-3">

              <input
                    type="search"
                    id="txtSearchClient"
                    class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Buscar contrato por código, nombre de cliente o número de identidad..."
                    [formControl]="searchContractInput"
                >

                <button type="button" class=" w-36 px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  (click)="onGetContract()"
                >
                  Buscar
                </button>

                @if ( searchInputIsTouched ) {
                  <span
                    class="flex items-center ms-1 mt-2 text-xs text-red-500"
                    inputErrors
                    [errors]="searchInputErrors"
                    inputLabel="Contrato" >
                  </span>
                }
            </div>
          </ng-template>

          <ng-template ng-option-tmp let-item="item" class="text-gray-900 whitespace-nowrap dark:text-white text-left ">

            <div class=" flex justify-between">
              <div class="text-normal flex justify-center items-center gap-1.5 ">
                <span class="italic text-slate-500 c">
                  Código:
                </span>
                <span class="font-semibold text-md">
                  {{ item.code }}
                </span>
              </div>

              <div class=" flex justify-center items-center gap-2.5">

                <div class="italic text-slate-500 ">

                  Clientes:

                </div>

                <div class="w-64">
                  @for (client of item.clients; track client.id; let i = $index) {
                    <div class="uppercase font-semibold">
                      {{ client.fullname }}
                    </div>
                    <div class="font-normal text-sm text-gray-500 pe-5">
                      {{ client.identityDocument?.shortDescription ?? '---' }} : {{ client.identityNumber ?? '---' }}
                    </div>
                  }
                </div>

              </div>
            </div>

          </ng-template>

        </ng-select>


      </div>


      <button
        type="button"
        class="flex justify-center items-end border border-gray-300 text-gray-700  px-4 py-2 mr-3 font-semibold text-center  align-middle transition-all rounded cursor-pointer leading-normal ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-75 hover:shadow-md dark:text-slate-200"
        (click)="onGetContractQuotes()"
      >
        <i class="fa-solid fa-filter h-5 w-5 mr-1"></i>
        Filtrar
      </button>


    </div>

  </div>

  <div class="col-span-4 bg-white shadow rounded-md dark:bg-gray-700 px-4 py-4 dark:text-slate-400">

    <span class="text-lg font-bold text-slate-800 dark:text-slate-100 ">
      Resumen
    </span>

    <div class="mt-4">
      <div class="flex gap-2 justify-start">
        <span class="italic w-32">Total abonado: </span>
        <span>
          S/ {{ quoteResumen()?.totalPaid ?? 0 | number:'.2-2' }}
        </span>
      </div>

      <div class="flex gap-2 justify-start">
        <span class="italic w-32">Deuda de moras: </span>
        <span>
          S/ {{ quoteResumen()?.totalTardiness ?? 0 | number:'.2-2' }}
        </span>
      </div>

      <div class="flex gap-2 justify-start">
        <span class="italic w-32">Deuda de lotes: </span>
        <span>
          S/ {{ quoteResumen()?.lotesDebt ?? 0 | number:'.2-2' }}
        </span>
      </div>

      <div class="flex gap-2 justify-start">
        <span class="italic w-32">Deuda total: </span>
        <span>
          S/ {{ quoteResumen()?.totalDebt ?? 0 | number:'.2-2' }}
        </span>
      </div>
    </div>

  </div>

</div>

<div class="flex flex-wrap ">
  <div class="flex-none w-full max-w-full px-3">
    <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-solid shadow-md dark:bg-slate-850 dark:shadow-dark-md rounded-2xl bg-clip-border dark:bg-gray-700">

      <div class="flex flex-col gap-2 md:flex-row md:items-center justify-between py-6 px-4">
        <div>
          <h1 class="text-3xl font-bold text-gray-800 dark:text-slate-100">
            Cuotas pendientes
          </h1>
        </div>
        <div class="flex items-center gap-3">
          <button
            #btnShowPaymentQuoteModal
            type="button"
            data-modal-target="payment-modal"
            data-modal-toggle="payment-modal"
            class="inline-block px-6 py-2 mr-3 font-semibold text-center text-white align-middle transition-all rounded cursor-pointer bg-emerald-600 hover:bg-emerald-700 leading-normal ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md"
            (click)="onSetContractQuoteToPay()"
          >
            <i class="fa-solid fa-plus mr-1"></i>
            Pagar múltiples cuotas
          </button>

          <button class="border border-gray-300 text-gray-700 inline-block px-4 py-2 mr-3 font-semibold text-center  align-middle transition-all rounded cursor-pointer leading-normal ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-75 hover:shadow-md dark:text-slate-200">
            <i class="fa-solid fa-download h-5 w-5 mr-1"></i>
            Descargar Reporte PDF
          </button>
        </div>
      </div>

      <div class=" overflow-hidden">
        <table class="w-full text-sm text-left">
          <thead >
            <tr class="bg-gray-50/50">

              <th class="px-6 py-3 font-semibold text-gray-600 ">CUOTA</th>
              <th class="px-6 py-3 font-semibold text-gray-600 ">CONTRATO</th>
              <th class="px-6 py-3 font-semibold text-gray-600 ">CLIENTE</th>
              <th class="px-6 py-3 font-semibold text-gray-600 ">
                <div class="flex items-center">
                  FECHA DE PAGO
                  <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-4 w-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </div>
              </th>
              <th class="px-6 py-3 font-semibold text-gray-600 ">STATUS</th>
              <th class="px-6 py-3 font-semibold text-gray-600 w-32 ">MONTO</th>
              <th class="px-6 py-3 font-semibold text-gray-600 w-32 ">MORA</th>
              <th class="px-6 py-3 font-semibold text-gray-600 w-32 ">ABONADO</th>
              <th class="px-6 py-3 font-semibold text-gray-600 w-32 ">DEUDA</th>
              <th class="px-6 py-3 font-semibold text-gray-600  text-right">
                ACCIONES
              </th>
            </tr>
          </thead>
          <tbody>

            @if ( allowList() ) {

              @if (isLoading()) {
                <tr>
                  <td colspan="10">
                    <div class="flex justify-center items-center gap-2 h-14 p-2">
                      <spinner></spinner>
                      Cargando...
                    </div>
                  </td>
                </tr>
              } @else {

                @for ( contractQuote of contractQuotes(); track $index) {

                  <!-- Row 1 hover:bg-gray-50/50-->
                  <tr class="border-b dark:border-white/40 border-gray-200 dark:text-slate-400 ">

                    <td class="font-medium p-4">
                      {{ contractQuote.code }}
                    </td>
                    <td class="font-medium ">
                      {{ contractQuote.contract.code }}
                    </td>
                    <td class="block justify-start ">
                      @for (client of contractQuote.contract.clients; track client.id; let i = $index) {
                        <div >
                          {{ client.fullname }}
                        </div>
                      }
                    </td>
                    <td class="">
                      {{ contractQuote.paymentDate | moment:'createAt' }}
                    </td>
                    <td class="">
                      <span
                        class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium "
                        [ngClass]="{
                          'bg-[#F2FCE2] text-[#16a34a]': contractQuote.isPaid,
                          'bg-[#FFDEE2] text-[#ea384c]': !contractQuote.isPaid
                          }"
                      >
                        @if (contractQuote.isPaid) {
                          Pagado
                        } @else {
                          No pagado
                        }
                      </span>
                    </td>
                    <td class="  font-semibold">
                      S/ {{ contractQuote.amountToPay | number: '.2-2' }}
                    </td>
                    <td class="  font-semibold">
                      S/ {{ contractQuote.tardinessAmount | number: '.2-2' }}
                    </td>
                    <td class="  font-semibold">
                      S/ {{ contractQuote.totalPaid| number: '.2-2' }}
                    </td>
                    <td class="  font-semibold">
                      S/ {{ contractQuote.totalDebt| number: '.2-2' }}
                    </td>
                    <td class="  ">

                      @if ( !contractQuote.isPaid ) {

                        <div class=" flex justify-center items-center gap-3">

                          @if ( !contractQuote.isExoneratedTardiness ) {
                            <button
                              type="button"
                              class="bg-gray-100 text-gray-600 hover:bg-gray-200 border border-gray-200 px-3 py-1 rounded-md"
                              (click)="onExonerateTardinessConfirm( contractQuote )"
                            >
                              Exo. Mora
                            </button>
                          }

                          <button
                            type="button"
                            data-modal-target="payment-modal"
                            data-modal-toggle="payment-modal"
                            class=" bg-emerald-600 hover:bg-emerald-700 text-white px-3 py-1 rounded-md"
                            (click)="onSetContractQuoteToPay( contractQuote )"
                          >
                            Pagar
                          </button>
                        </div>

                      }

                    </td>
                  </tr>

                } @empty {

                  @if (!isLoading()) {
                    <tr>
                      <td colspan="10">
                        <div class="text-center p-4 border-b text-xl text-slate-400">
                         Sin registros
                        </div>
                      </td>
                    </tr>
                  }
                }
              }

            } @else {
              <tr>
                <td colspan="10">
                  <div class="text-center p-4 border-b text-xl text-slate-400">
                    <h3>No tiene permiso para listar <span class="font-bold">Cuotas pendientes</span> </h3>
                  </div>
                </td>
              </tr>
            }

          </tbody>
        </table>

        <div class="" >

          <!-- (onChangePage)="" -->
          <app-pagination [totalItems]="contractQuotesTotal()" (onChangePage)="onGetContractQuotesPagination( $event )"  >
          </app-pagination>

        </div>
      </div>

    </div>
  </div>
</div>


<paid-quotes-modal
  [contractQuotesData]="contractQuotesAll()"
  [contractQuotesToPaid]="contractQuoteToPay()"
  [webUrlPermissionMethods]="webUrlPermissionMethods()"
  (paidQuoteSuccess)="onGetContractQuotes()" >
</paid-quotes-modal>
