
<div class="flex flex-wrap ">
  <div class="flex-none w-full max-w-full px-3">
    <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-solid shadow-md dark:bg-slate-850 dark:shadow-dark-md rounded-2xl bg-clip-border   dark:bg-gray-700">

      <div class="flex justify-between p-6 pb-2">
        <div class=" border-b-0 border-b-solid rounded-t-2xl border-b-transparen">
          <h6 class=" dark:text-white">Contratos</h6>
        </div>

        <div class="flex items-center ">

          <div class="pr-4">
            <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease">
              <span class="text-sm ease leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
                <svg
                  class="w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  ></path>
                </svg>
              </span>
              <input
                type="text"
                class="pl-9 text-sm focus:shadow-primary-outline ease w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid dark:bg-gray-800 dark:text-white bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 "
                placeholder="Buscar..."
                [formControl]="searchInput"
                [class.border-gray-300]="isInvalidSearchInput == false"
                [class.border-red-400]="isInvalidSearchInput == true"
                (keyup.enter)="onGetContracts()"
              />
            </div>
          </div>

          <div class="">
            <button
              #btnShowContractModal
              data-modal-target="contract-modal"
              data-modal-toggle="contract-modal"
              type="button"
              class="inline-block px-6 py-3 mr-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-gradient-to-tl from-blue-500 to-violet-500 leading-normal text-xs ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md "
              >
              <i class="fa fa-plus" aria-hidden="true"></i>
              &nbsp;Nuevo
            </button>

            <button
              #btnShowDetailContractModal
              data-modal-target="contract-detail-modal"
              data-modal-toggle="contract-detail-modal"
              type="button"
              class="hidden "
              >
              Detalle
            </button>

            <button
              #btnShowScheduleContractModal
              data-modal-target="contract-schedule-modal"
              data-modal-toggle="contract-schedule-modal"
              type="button"
              class="hidden "
              >
              Detalle
            </button>
          </div>

        </div>
      </div>


      <div class="flex-auto px-0 pt-0 pb-2">
        <div class="p-0 overflow-x-auto">
          <table class="items-center w-full mb-0 align-top border-collapse dark:border-white/40 text-slate-500">
            <thead class="align-bottom">
              <tr>
                <th class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Cliente/Customer</th>
                <th class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Código</th>

                <th class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Proyecto</th>
                <th class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Lotes</th>
                <th class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Tipo de pago</th>
                <th class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Estado</th>
                <th class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">F. creación</th>
                <th class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-collapse border-solid shadow-none dark:border-white/40 tracking-none whitespace-nowrap text-slate-400 opacity-70"></th>
              </tr>
            </thead>
            <tbody>

              @if( allowList() ) {

                @for ( contract of contracts(); track contract.id) {
                  <tr>

                    <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                      <div class="flex px-2 py-1">
                        <!-- <div>
                          <img src="../assets/img/team-2.jpg" class="inline-flex items-center justify-center mr-4 text-sm text-white transition-all duration-200 ease-in-out h-9 w-9 rounded-xl" alt="user1" />
                        </div> -->
                        <div class="flex flex-col justify-center">
                          <h6 class="mb-0 text-sm leading-normal dark:text-gray-300 ">
                            {{ contract.client.fullname }}
                          </h6>
                          <p class="mb-0 text-xs leading-tight  dark:opacity-80 text-slate-400 dark:text-gray-300">
                            @if ( contract.client.address && contract.client.address.length > 35 ) {
                              {{ contract.client.address | slice:0:35 }}...
                            } @else {
                              {{ contract.client.address  }}
                            }
                          </p>
                        </div>
                      </div>
                    </td>

                    <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent dark:text-gray-300">
                      <span class="font-bold">
                        {{ contract.code }}
                      </span>
                    </td>

                    <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent dark:text-gray-300">
                      {{ contract?.proyect?.name }}
                    </td>

                    <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent dark:text-gray-300">
                      {{ contract.lotes | loteJoinCodes }}
                    </td>

                    <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent dark:text-gray-300">
                      {{ contract.paymentType | paymentType }}
                    </td>

                    <td class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">

                      <span
                        class=" text-xs font-medium me-2 px-2.5 py-0.5 rounded 0 dark:text-gray-300"

                        [ngClass]="{
                          'bg-gray-100': !contract.isActive,
                          'text-gray-800': !contract.isActive,
                          'dark:bg-gray-700': !contract.isActive,
                          'dark:text-gray-30': !contract.isActive,

                          'bg-green-100': contract.isActive,
                          'text-green-800': contract.isActive,
                          'dark:bg-green-900': contract.isActive,
                          'dark:text-green-300': contract.isActive,
                        }"

                      >
                        Activo
                      </span>

                    </td>

                    <td  class=" text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                      <span class="text-xs uppercase font-semibold leading-tight dark:text-gray-300 dark:opacity-80 text-slate-400">
                        {{ contract.createAt | moment:'createAt'  }}
                      </span>
                    </td>

                    <td class=" bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                      <div class="flex gap-3 justify-end pr-6">
                        <a href="javascript:;" class="flex gap-1 text-xs font-semibold leading-tight uppercase dark:opacity-80 text-slate-400 dark:text-gray-300" (click)="onShowDetailModal( contract )">
                          <i class="fa fa-eye"></i>
                          Ver
                        </a>

                        <a href="javascript:;" class="flex gap-1 text-xs font-semibold leading-tight uppercase dark:opacity-80 text-slate-400 dark:text-gray-300" (click)="onShowScheduleModal( contract )">
                          <i class="fa fa-eye"></i>
                          Cronograma
                        </a>

                        <a href="javascript:;" class="flex gap-2 text-xs font-semibold leading-tight uppercase dark:opacity-80 text-red-500" (click)="onRemoveConfirm( contract )" >
                          <i class="fa fa-trash" aria-hidden="true"></i>
                          Anular
                        </a>
                      </div>

                    </td>
                  </tr>
                } @empty {

                  @if (!isLoading()) {
                    <tr>
                      <td colspan="8">
                        <div class="text-center p-4 border-b text-xl text-slate-400">
                          <h3>Sin registros</h3>
                        </div>
                      </td>
                    </tr>
                  }
                }

              } @else {
                <tr>
                  <td colspan="8">
                    <div class="text-center p-4 border-b text-xl text-slate-400">
                      <h3>No tiene permiso para listar contratos</h3>
                    </div>
                  </td>
                </tr>
              }


            </tbody>
          </table>
        </div>
        <div class="" >

          <!-- (onChangePage)="" -->
          <app-pagination [totalItems]="totalContracts()" (onChangePage)="onGetContracts( $event )"  >

          </app-pagination>

        </div>
      </div>
    </div>
  </div>
</div>


<contract-modal
  [paymentTypes]="paymentTypes()"
  [webUrlPermissionMethods]="webUrlPermissionMethods()"
  (onCreated)="onListenCreate( $event )"
>
</contract-modal>

<contract-detail-modal [contractId]="contractIdByModal()" >
</contract-detail-modal>


<div id="contract-schedule-modal" data-modal-backdrop="true" tabindex="-1" aria-hidden="false" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">

    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

      <button
        #btnCloseContractDetailModal
        type="button"
        class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="contract-schedule-modal"
      >
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>

      <div class="p-4 md:p-5 text-center">

        <div id="scheduleContractdiv">

          <div class="grid gap-4 grid-cols-6 pb-3">

            <div class="col-span-3 xs:col-span-6 ">

              <div class="flex flex-col items-start pt-7 ">
                <h5 class="mb-1 text-2xl font-medium text-gray-900 dark:text-white">
                  #  {{ contractById()?.code }}
                </h5>
                <span class="text-md text-gray-500 dark:text-gray-400">
                  {{ contractById()?.proyect?.name }}
                </span>
              </div>

            </div>

            <div class="col-span-3 xs:col-span-6 ">

              <div class="flex items-center gap-4 pt-8">

                <div class="relative flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                  <span class="font-medium text-gray-600 dark:text-gray-300">
                    {{ client()?.name | slice:0:1 }}{{ client()?.surname | slice:0:1 }}
                  </span>
                </div>

                <div class="font-medium dark:text-white text-left">
                    <div>
                      {{ client()?.fullname }}
                    </div>
                    <div class="font-normal text-sm text-gray-500 dark:text-gray-400">
                      {{ client()?.identityDocument?.shortDescription }}:
                      {{ client()?.identityNumber }}
                    </div>
                </div>
              </div>
            </div>
          </div>


          <div class="relative overflow-x-auto pt-2 pb-2">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 rounded-s-lg">
                            Lotes&nbsp;&nbsp;comprados
                        </th>
                        <th scope="col" class="px-6 py-3 rounded-e-lg text-center">
                            Precio
                        </th>
                    </tr>
                </thead>
                <tbody>
                  @for ( lote of lotes(); track $index) {
                    <tr class="bg-white dark:bg-gray-800">

                        <th scope="row" class="px-6 py-2 text-gray-900 whitespace-nowrap dark:text-white">

                          <div class="">
                            <div class="text-base font-semibold">
                              {{ lote.code }}
                            </div>
                            <div class="font-normal text-gray-500">
                              {{  lote.ubication }} ( {{ lote.squareMeters }} m2 )
                            </div>
                          </div>

                        </th>

                        <td class="px-6 py-2 text-right">
                            S/ {{ lote.price | number: '.2-2' }}
                        </td>
                    </tr>
                  }
                </tbody>
                <tfoot>
                    <tr class="font-semibold text-gray-900 dark:text-white">
                        <th scope="row" class="px-6 py-1 text-base">Total</th>
                        <td class="px-6 py-1 text-right">
                          S/ {{ lotesAmount | number: '.2-2' }}
                        </td>
                    </tr>
                    <tr class="font-semibold text-gray-900 dark:text-white">
                      <th scope="row" class="px-6 py-1 text-base">Interés</th>
                      <td class="px-6 py-1 text-right">
                        {{ interestPercent }}%
                      </td>
                    </tr>
                    <tr class="font-semibold text-gray-900 dark:text-white">
                      <th scope="row" class="px-6 py-1 text-base">Total a financiar</th>
                      <td class="px-6 py-1 text-right">
                        S/ {{ amountToFinancing | number: '.2-2' }}
                      </td>
                    </tr>
                    <tr class="font-semibold text-gray-900 dark:text-white">
                      <th scope="row" class="px-6 py-1 text-base">Monto por cuota</th>
                      <td class="px-6 py-1 text-right">
                        S/ {{ amountToQuota | number: '.2-2' }}
                      </td>
                    </tr>
                </tfoot>
            </table>
          </div>

          <div class="w-full">

            <div class="mb-3 p-2 py-2 text-xs font-semibold text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
              Cronograma&nbsp;&nbsp;de&nbsp;&nbsp;pagos
            </div>

            <div class="grid gap-4 grid-cols-6 pb-3">

              @for ( schedule of contractSchedule(); track $index) {

                <div class="col-span-2 xs:col-span-6 "
                  [ngClass]="{
                    'col-span-2 xs:col-span-6': numberOfQuotes > 18,
                    'col-span-3 xs:col-span-6': numberOfQuotes < 18,
                  }"
                >

                  <div class="flex gap-3">

                    <span
                      class="flex items-center text-xs justify-center shrink-0 border-gray-500 dark:border-gray-400">
                      {{ schedule.quota }}
                    </span>

                    <div class="py-1 font-semibold text-md dark:text-white text-left">
                      <h1 class=" mb-1 text-sm font-semibold tracking-tight leading-none text-gray-900 dark:text-white">
                        {{ schedule.paymentDate | moment }}
                      </h1>
                      <div class="font-normal text-sm text-gray-500 dark:text-gray-400">
                        S/ {{ schedule.quotaAmount | number:'.2-2' }}
                      </div>
                    </div>

                  </div>


                </div>
              }


            </div>

          </div>
        </div>

        <div class="w-full">
          <div class="flex justify-end gap-3">
            <div (click)="onDonwloadSchedule()" class="flex gap-2 cursor-pointer">

              <i *ngIf="!downloadInProgress() else spinner"
                class="fa-solid fa-downloads text-lg text-blue-600 ">
                <i class="fa-solid fa-download"></i>
              </i>

              <span class="text-md font-semibold">
                Descargar
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<ng-template #spinner>
  <div role="status">
    <svg aria-hidden="true" class="inline w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
