<div class="flex flex-wrap ">
    <div class="flex-none w-full max-w-full px-3">
        <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-solid shadow-md dark:bg-slate-850 dark:shadow-dark-md rounded-2xl bg-clip-border   dark:bg-gray-700">

            <div class="flex justify-between p-6 pb-2">
                <div class=" border-b-0 border-b-solid rounded-t-2xl border-b-transparen">
                    <h6 class="font-bold dark:text-white">Visitantes</h6>
                </div>

                <div class="flex items-center ">

                    <div class="pr-4">
                        <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease">
                            <span class="text-sm ease leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
                              <svg
                                class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                ></path>
                              </svg>

                            </span>
                            <input type="text" class="pl-9 text-sm focus:shadow-primary-outline ease w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid dark:bg-gray-800 dark:text-white bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 "
                                placeholder="Buscar..." [formControl]="searchInput" [class.border-gray-300]="isInvalidSearchInput == false" [class.border-red-400]="isInvalidSearchInput == true" (keyup.enter)="onGetVisits()" />
                        </div>
                    </div>

                    <div class="">
                        <button
                          #btnShowVisitorModal
                          type="button"
                          class="inline-block px-6 py-2 mr-3 font-semibold text-center text-white align-middle transition-all rounded cursor-pointer bg-emerald-600 hover:bg-emerald-700 leading-normal ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md "
                          (click)="onOpenVisitModal()"
                        >
                          <i class="fa fa-plus" aria-hidden="true"></i>
                          &nbsp;Nuevo
                        </button>
                    </div>

                </div>
            </div>

            <div class="flex-auto px-0 pt-0 pb-2">
                <div class="p-0 overflow-x-auto">
                    <table class="items-center w-full mb-0 align-top border-collapse dark:border-white/40 text-slate-500">
                        <thead class="align-bottom">
                            <tr>
                                <th class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-800 dark:text-slate-100 opacity-70">
                                  Visitantes
                                </th>
                                <th class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-800 dark:text-slate-100 opacity-70">Fecha visita</th>
                                <th class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-800 dark:text-slate-100 opacity-70">Estado</th>
                                <th class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-800 dark:text-slate-100 opacity-70">Fecha creación</th>
                                <th class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-collapse border-solid shadow-none dark:border-white/40 tracking-none whitespace-nowrap text-slate-800 dark:text-slate-100 opacity-70"></th>
                            </tr>
                        </thead>
                        <tbody>

                          @if ( allowList() ) {
                            @for ( visit of visits(); track $index) {
                                <tr>

                                    <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent dark:text-slate-200">

                                      <div  class="flex flex-wrap justify-center gap-2">

                                            <div *ngFor="let visitor of visit.visitors" class="mb-0 text-indigo-500 font-semibold text-sm leading-normal dark:text-slate-200 border border-indigo-400 rounded  px-2 py-0.5">
                                                {{visitor.fullname}}
                                            </div>

                                            <!-- <div class=" flex justify-start items-center dark:text-slate-400">
                                                <span class="text-xs font-semibold me-1.5">
                                                   {{visitor.identityDocument.shortDescription}}
                                                </span>
                                                <span>
                                                   {{visitor.identityNumber}}
                                                </span>
                                            </div> -->

                                        </div>
                                    </td>

                                    <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent dark:text-gray-300">

                                        <span class="text-xs uppercase font-semibold leading-tight dark:text-gray-200 dark:opacity-80 text-slate-600">
                                          {{ visit.visitDate | moment:'createAt'  }}
                                        </span>
                                    </td>

                                    <td class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">

                                        <span class=" text-xs font-medium me-2 px-2.5 py-0.5 rounded 0 dark:text-gray-300" [ngClass]="{
                                            'bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-30': !visit.isActive,
                                            'bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300': visit.isActive,
                                          }">
                                          Activo
                                        </span>

                                    </td>

                                    <td class=" text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                        <span class="text-xs uppercase font-semibold leading-tight dark:text-gray-300 dark:opacity-80 text-slate-400">
                                          {{ visit.createAt | moment:'createAt'  }}
                                        </span>
                                    </td>

                                    <td class=" bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                        <div class="flex  gap-3 justify-end pr-6">
                                            <a href="javascript:;" class="flex gap-1 text-xs font-semibold leading-tight uppercase dark:opacity-80 text-slate-400 dark:text-gray-300" (click)="onLoadToUpdate( visit )">
                                                <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                                            </a>

                                            <a href="javascript:;" class="flex gap-2 text-xs font-semibold leading-tight uppercase dark:opacity-80 text-red-500" (click)="onRemoveConfirm( visit )">
                                                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                                            </a>
                                        </div>

                                    </td>
                                </tr>
                            } @empty {

                              @if (!listInProgress()) {
                                <tr>
                                  <td colspan="5">
                                    <div class="w-full p-6 flex justify-center items-center">
                                      <h3 class="text-lg font-semibold">Sin registros</h3>
                                    </div>
                                  </td>
                                </tr>
                              } @else {
                                <tr>
                                  <td colspan="5">
                                    <div class="w-full p-6 flex justify-center items-center">
                                      <svg aria-hidden="true" class="w-4 h-4 text-neutral-tertiary animate-spin fill-brand me-2" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                                      </svg>
                                      Cargando registros...
                                    </div>
                                  </td>
                                </tr>
                              }

                            }

                          } @else {
                            <tr>
                              <td colspan="5">
                                <div class="text-center p-4 border-b text-xl text-slate-400">
                                  <h3>No tiene permiso para listar <span class="font-bold">Visitantes</span> </h3>
                                </div>
                              </td>
                            </tr>
                          }

                        </tbody>
                    </table>
                </div>
                <div class="">

                    <app-pagination [totalItems]="0" (onChangePage)="onGetVisits( $event )">
                    </app-pagination>

                </div>
            </div>
        </div>
    </div>
</div>
