<div class="mb-8">
    <div class="p-4 bg-white rounded-lg shadow-sm dark:bg-gray-800">

      <div class="flex justify-start items-center gap-4 pb-4">
        <span class="text-lg font-semibold text-gray-900 dark:text-white ">
          Top Vendedores
        </span>

        <div>
          <form [formGroup]="pickerForm" >

            <input
              mwlFlatpickr
              [options]="flatpickrOptionsRange"
              class="w-[370px] bg-gray-50 border text-center border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="YYYY-MM-DD hasta YYYY-MM-DD"
              formControlName="range"
            >
          </form>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Vendedor</th>
              <th scope="col" class="px-6 py-3">Contratos generados</th>
              <th scope="col" class="px-6 py-3">Lotes vendidos</th>
              <th scope="col" class="px-6 py-3">Total Generado</th>
            </tr>
          </thead>
          <tbody>

            @if ( !listInProgress() ) {

              @for (item of topSellers(); track $index) {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">{{ item.seller.fullname }}</td>
                  <td class="px-6 py-4">{{ item.contractsCount }}</td>
                  <td class="px-6 py-4">{{ item.soldLots }}</td>
                  <td class="px-6 py-4">S/ {{ item.totalGeneratedAmount| number:'.2-2' }}</td>
                </tr>
              } @empty {

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <td colspan="4" class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                    <div class="text-lg italic ">
                      Sin registros
                    </div>
                  </td>
                </tr>

              }

            }


          </tbody>
        </table>
      </div>
    </div>
  </div>
