/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.border-red-400 {
  border-color: rgb(248 113 113 ) !important;
}

.custom_loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid rgb(108 117 125 );
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.custom_loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@layer components {

  .w-100 {
    width: 29.0rem;
  }

  .h-300 {
    height: 46.2rem;
  }

  .h-290 {
    height: 35.3rem;
  }

  .h-200 {
    height: 35.2rem;
  }

  .h-120 {
    height: 34.7rem;
  }

  .h-110 {
    height: 30rem;
  }

  .h-100 {
    height: 29.5rem;
  }

  .h-82 {
    height: 19rem;
  }

  .h-86 {
    height: 21.2rem;
  }

  .ng-select  .ng-dropdown-panel .ng-dropdown-header {
    @apply dark:bg-gray-600
  }

  .ng-select .ng-select-container  {
    /* @apply bg-white border border-solid dark:bg-gray-600 p-0.5; */
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-0.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white
  }

  .ng-select.ng-select-opened.ng-select-bottom > .ng-select-container {
    @apply bg-white  border border-gray-300 dark:bg-gray-600;
  }

  .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    @apply bg-white dark:bg-gray-600;
  }

  .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    @apply bg-white dark:bg-gray-600 dark:text-white;
  }

  /* profile input */

  .ng-select.profile .ng-select-container  {
    @apply bg-white   border border-gray-300 dark:bg-slate-800;
  }

  .ng-select.profile.ng-select-opened.ng-select-bottom > .ng-select-container {
    @apply bg-white  border border-gray-300 dark:bg-slate-800;
  }

  .ng-select.profile .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    @apply bg-white dark:bg-slate-800;
  }

  .ng-select.profile .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    @apply bg-white dark:bg-slate-800 dark:text-white;
  }

  /* navbar input */

  .ng-select.navbar .ng-select-container  {
    @apply bg-white   border border-gray-300 dark:bg-slate-800;
  }

  .ng-select.navbar.ng-select-opened.ng-select-bottom > .ng-select-container {
    @apply bg-white  border border-gray-300 dark:bg-slate-800;
  }

  .ng-select.navbar .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    @apply bg-white dark:bg-slate-800;
  }

  .ng-select.navbar .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    @apply bg-white dark:bg-slate-800 dark:text-white;
  }

}

/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-mdc-dialog-surface {
  height: auto !important;
}

@media (min-width: 640px) {
  .sm\:mr-100 {
      margin-right: 26rem /* 384px */;
  }
}

.md-dialog-container {
  background-color: #000;
  width: 250px;
  height: 900px
}

/* .mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
} */
