
<div class="flex flex-wrap ">
  <div class="flex-none w-full max-w-full px-3">
    <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-solid shadow-md dark:bg-slate-850 dark:shadow-dark-md rounded-2xl bg-clip-border   dark:bg-gray-700">

      <div class="flex justify-between p-6 pb-2">
        <div class=" border-b-0 border-b-solid rounded-t-2xl border-b-transparen">
          <h6 class=" dark:text-white">Proyectos inmobiliarios</h6>
        </div>

        <div class="flex items-center mb-3">

          <div class="pr-4">
            <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease">
              <span class="text-sm ease leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
                <svg
                  class="w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  ></path>
                </svg>
              </span>
              <input
                type="text"
                class="pl-9 text-sm focus:shadow-primary-outline ease w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid dark:bg-gray-800 dark:text-white bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 "
                placeholder="Buscar..."
                [formControl]="searchInput"
                [class.border-gray-300]="isInvalidSearchInput == false"
                [class.border-red-400]="isInvalidSearchInput == true"
                (keyup.enter)="onSearch()"
              />
            </div>
          </div>

          <div class="">
            <a
              [routerLink]="['/dashboard/create-proyect']" routerLinkActive="router-link-active"
              class="inline-block px-6 py-3 mr-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-gradient-to-tl from-blue-500 to-violet-500 leading-normal text-xs ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md "
              >
              <i class="fa fa-plus" aria-hidden="true"></i>
              &nbsp;Nuevo
            </a>
          </div>

        </div>
      </div>

    </div>

    <div class="grid gap-3 mb-4 grid-cols-6">
      @if ( allowList() ) {
        @for (proyect of proyects(); track proyect.id) {

          <div class="relative col-span-2 xs:col-span-3 mb-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <!-- <img class="rounded-t-lg" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="" /> -->
            <mini-map class="rounded-t-lg" [proyect]="proyect" ></mini-map>

            <div class="absolute right-2">
              <div class="flex justify-end pt-3 px-3 right-1">
                  <button [attr.data-dropdown-toggle]="'mydropdown-' + proyect.id" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
                      <span class="sr-only">Open dropdown</span>
                      <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 16 3">
                          <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                      </svg>
                  </button>
                  <!-- Dropdown menu -->
                  <div [id]="'mydropdown-' + proyect.id" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                      <ul class="py-2" >
                      <li>
                          <a [routerLink]="['/dashboard/update-proyect', proyect.id ]" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                              Edit
                          </a>
                      </li>
                      <li>
                          <a [routerLink]="['/dashboard/lotes-by-proyect', proyect.id ]" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            Ver lotes
                          </a>
                      </li>
                      <li>
                          <a [routerLink]="['/dashboard/financings-by-proyect', proyect.id ]" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            Financiamientos
                          </a>
                      </li>
                      </ul>
                  </div>
              </div>
            </div>

            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                      {{ proyect.name }} - {{ proyect.year }}
                    </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                  {{ proyect.description }}
                </p>

            </div>
          </div>
        }
      } @else {
        <div class="col-span-2 xs:col-span-3"></div>
        <div class="col-span-2 xs:col-span-3 mb-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <p class="text-center text-xl text-slate-500 p-3">
            No tiene permiso para listar proyectos inmobiliarios
          </p>
        </div>
      }

    </div>

  </div>
</div>




